<section class="banner"></section>
<section class="box">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="content">
          <div class="image-left">
            <img
              src="assets/images/help-page/card-image1.png"
              style="width: 40px"
            />
          </div>
          <div class="second-side">
            <h6 class="questions">Most Frequently Asked</h6>
            <div class="row ml-2 align-items-center">
              <img src="assets/images/profiles.png" />
              <div class="text-detail">
                <p>By Adil and 2 others 16 articles</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="content">
          <div class="image-left">
            <img
              src="assets/images/help-page/card-image2.png"
              style="width: 40px"
            />
          </div>
          <div class="second-side">
            <h6 class="questions">General</h6>
            <div class="row ml-2 align-items-center">
              <img src="assets/images/profiles.png" />
              <div class="text-detail">
                <p>By Adil and 2 others 16 articles</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="content">
          <div class="image-left">
            <img
              src="assets/images/help-page/card-image3.png"
              style="width: 40px"
            />
          </div>
          <div class="second-side">
            <h6 class="questions">For Renters</h6>
            <div class="row ml-2 align-items-center">
              <img src="assets/images/profiles.png" />
              <div class="text-detail">
                <p>By Adil and 2 others 16 articles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="content">
          <div class="image-left">
            <img
              src="assets/images/help-page/card-image4.png"
              style="width: 40px"
            />
          </div>
          <div class="second-side">
            <h6 class="questions">Help with Hosting</h6>
            <div class="row ml-2 align-items-center">
              <img src="assets/images/profiles.png" />
              <div class="text-detail">
                <p>By Adil and 2 others 16 articles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</section>
