<div class="container project" *ngIf="project">
  <div class="row mx-0">
    <div class="col-lg-6 col-md-12">
      <h5 class="project-name">{{ project.title }}</h5>
      <span class="project-dates"
        >{{ project.startDate | date }} - {{ project.endDate | date }}</span
      >
    </div>
    <div class="col-lg-6 col-md-12 d-flex justify-content-end project-actions">
      <div
        class="mr-2 d-flex align-items-center project-share"
        matTooltip="Share"
        (click)="shareProject(project)"
      >
        <mat-icon class="mr-1 project-share_inner">share</mat-icon>
      </div>
      <div
        class="d-flex align-items-center project-edit"
        (click)="editProject(project)"
        matTooltip="Edit"
        *ngIf="loggedInUserEmail === project.ownerEmail"
      >
        <i class="fas fa-pen fa-md"></i>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <p class="project-description mt-4">
        {{ project.description }}
      </p>
    </div>
  </div>

  <div class="row mx-0">
    <div class="col-lg-3 col-md-6 pl-0">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          routerLinkActive
          #location="routerLinkActive"
          [routerLink]="'/projects/project-detail/' + +projectId + '/locations'"
          [active]="location.isActive"
        >
          Location
        </a>
        <a
          mat-tab-link
          routerLinkActive
          #team="routerLinkActive"
          [active]="team.isActive"
          [routerLink]="'/projects/project-detail/' + +projectId + '/team'"
        >
          Team
        </a>
      </nav>
    </div>
    <div
      class="col-lg-9 col-md-12 d-flex justify-content-end align-center mt-3 mb-2"
    >
      <p class="m-0 d-flex align-items-center">
        <span class="mr-2">
          {{ project.isPublic ? "Public project" : "Private project" }} </span
        ><i
          class="fas"
          [ngClass]="!project.isPublic ? 'fa-lock' : 'fa-globe-europe'"
        ></i>
      </p>
    </div>
    <div class="col-12">
      <hr />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="project" *ngIf="!project">
  <div class="row mx-0">
    <div class="col-12 pl-0">
      <div class="col-12 text-center mt-4">
        <img
          class="mb-4 project-logo"
          src="assets/images/location-logo.png"
          alt="logo"
        />
        <h4 class="mt-4">No project found with this ID</h4>
        <div class="col-sm-12 mt-4">
          <button
            type="button"
            class="ml-3 mb-4 text-white"
            color="primary"
            mat-stroked-button
            routerLink="/projects"
          >
            <i class="fas fa-chevron-left mr-2 project-back-icon"></i>Go back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
