<div class="container">
  <div class="container-html landing-owner-publish">
    <h1 class="landing-owner-publish--title">
      <div class="landing-owner--title__main">
        <b>Well done!</b> While we’re reviewing your listing, here's a few tips
        to earn your first dollar
      </div>
      Location Genie Booking Flow
    </h1>
    <div class="row landing-owner-publish-steps">
      <div class="col-sm-4 landing-owner-publish-step">
        <div
          class="landing-owner-publish-step--icon landing-owner-publish-step--icon__comments"
        ></div>
        <div class="landing-owner-publish-step--title">
          <span class="landing-owner-publish-step--num">1</span> Respond to
          renters
        </div>
        <div class="landing-owner-publish-step--text">
          Renters will contact you to discuss shoot details or schedule a scout.
          Reply quickly and consistently to improve your position in search.
        </div>
      </div>
      <div class="col-sm-4 landing-owner-publish-step">
        <div
          class="landing-owner-publish-step--icon landing-owner-publish-step--icon__agreement"
        ></div>
        <div class="landing-owner-publish-step--title">
          <span class="landing-owner-publish-step--num">2</span> Approve booking
          requests or send custom rates
        </div>
        <div class="landing-owner-publish-step--text">
          You have 48 hours to approve a booking request via the Location Genie
          platform. For negotiated prices you can send a custom rate from within
          your messages.
        </div>
      </div>
      <div class="col-sm-4 landing-owner-publish-step">
        <div
          class="landing-owner-publish-step--icon landing-owner-publish-step--icon__USD"
        ></div>
        <div class="landing-owner-publish-step--title">
          <span class="landing-owner-publish-step--num">3</span> Get Paid
        </div>
        <div class="landing-owner-publish-step--text">
          Payout is the total price minus the 19% Location Genie commission.
        </div>
      </div>
    </div>
    <h2 class="landing-owner-publish--title mt-lg-4">
      Benefits of Booking on Location Genie
    </h2>
    <div class="row row__def landing-owner-publish-benefits clearfix">
      <div class="col-sm-6 mb-lg-4 landing-owner-publish-benefit">
        <div class="landing-owner--img">
          <picture>
            <source srcset="assets/images/booking-flow/img-more-bookings.png" />
            <img
              src="assets/images/booking-flow/img-more-bookings.png"
              alt="More bookings"
            />
          </picture>
        </div>
        <div class="landing-owner-publish-benefit--text">
          <b>More bookings</b> through the site increases location visibility on
          Location Genie Search
        </div>
      </div>
      <div class="col-sm-6 mb-lg-4 landing-owner-publish-benefit">
        <div class="landing-owner--img">
          <picture>
            <source srcset="assets/images/booking-flow/img-dispute.png" />
            <img
              src="assets/images/booking-flow/img-dispute.png"
              alt="dispute resolution"
            />
          </picture>
        </div>
        <div class="landing-owner-publish-benefit--text">
          We act as a third party in <b> dispute resolution</b>
        </div>
      </div>
    </div>
    <div class="row row__def landing-owner-publish-benefits clearfix">
      <div class="col-sm-6 mb-lg-4 landing-owner-publish-benefit">
        <div class="landing-owner--img">
          <picture>
            <source
              media="(min-width: 1000px)"
              srcset="assets/images/booking-flow/img-escrow.png"
            />
            <img
              src="assets/images/booking-flow/img-escrow.png"
              alt="security deposit"
            />
          </picture>
        </div>
        <div class="landing-owner-publish-benefit--text">
          We act like an <b>escrow</b> service and hold a
          <b>security deposit</b> from the renter for 72 hours
        </div>
      </div>
      <div class="col-sm-6 mb-lg-4 landing-owner-publish-benefit">
        <div class="landing-owner--img">
          <picture>
            <source
              media="(min-width: 1000px)"
              srcset="assets/images/booking-flow/img-fraudulent.png"
            />
            <img
              src="assets/images/booking-flow/img-fraudulent.png"
              alt="Security from fraudulent"
            />
          </picture>
        </div>
        <div class="landing-owner-publish-benefit--text">
          <b>Security from fraudulent</b> transactions
        </div>
      </div>
    </div>
    <div class="row landing-owner-publish-benefits clearfix">
      <div class="col-sm-6 mb-lg-4 landing-owner-publish-benefit">
        <div class="landing-owner--img">
          <picture>
            <source
              media="(min-width: 1000px)"
              srcset="assets/images/booking-flow/img-cancellation.png"
            />
            <img
              src="assets/images/booking-flow/img-cancellation.png"
              alt="Cancellation &amp; Refund Policy"
            />
          </picture>
        </div>
        <div class="landing-owner-publish-benefit--text">
          Protected by our terms of service and
          <b>Cancellation &amp; Refund Policy</b>
        </div>
      </div>
      <div class="col-sm-6 landing-owner-publish-benefit"></div>
    </div>
  </div>
</div>
