<section class="host">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading text-center">
          <div class="stepCount">Tutorial {{ step }}/7</div>
          <h1>Good and bad host behavior</h1>
          <p class="m-0">
            Our guiding principle is to reward our top hosts by making it
            simpler to find and book their listings. As a result, we developed a
            "listing score." Your location's likelihood of ranking first on
            Location Genie search pages increases with score, which directly
            affects the number of inquiries and bookings you receive.
          </p>
        </div>
      </div>
    </div>

    <div class="row score">
      <div class="col-md-6">
        <div class="left">
          <div class="top d-flex align-items-center">
            <img src="assets/images/Group 953.png" />
            <p class="m-0">Things that will improve your score:</p>
          </div>
          <ul class="listings">
            <li>Bookings & Reviews</li>
          </ul>
          <ul class="listings">
            <li>Responding to every inquiry</li>
          </ul>
          <ul class="listings">
            <li>Keeping all communication</li>
          </ul>
          <ul class="listings">
            <li>Being a Superhost</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right">
          <div class="top d-flex align-items-center">
            <img src="assets/images/close.png" />
            <p class="m-0">
              Things that will hurt your score (and may result in suspension):
            </p>
          </div>
          <ul class="listings">
            <li>Booking offline</li>
          </ul>
          <ul class="listings">
            <li>Being unresponsive</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="button">
      <a routerLink="/tutorial/slides/slide-4">Continue</a>
    </div>
  </div>
</section>
