// top css
@use "sass:math";
$breakpoint-step: 0.1px;
$desktop: 1400px;
$desktop-2: 1300px;
$desktop-mini: 1160px;
$desktop-large: 2000px;
$large-tablet: 999px;
$large-tablet2: 900px;
$tablet: 768px;
// Less than tablet (768px)
$small-devices: ($tablet - $breakpoint-step);
$large-mobile: 620px;
$big-mobile: 540px;
$hor-mobile: 480px;
$hor-mobile2: 412px;
$ver-mobile2: 375px;
$ver-mobile: 320px;
$mobile-menu-breakpoint: $large-tablet;
$location-footer-breakpoint: $large-tablet;
@mixin breakpoint($breakpoint, $breakpoint_two: 0) {
  @if $breakpoint_two>0 {
    @media screen and (min-width: $breakpoint) and (max-width: $breakpoint_two) {
      @content;
    }
  } @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}

@mixin breakpoint_min($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin breakpoint_less($size) {
  // less than $size
  @media (max-width: #{$size - $breakpoint-step}) {
    @content;
  }
}

// Aspect Ratio Boxes
@mixin aspect-ratio($val, $sel: ".aspect-ratio-content") {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc(#{$val} * 100%);
  }
  & > #{$sel} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin link($color: $primary-color, $hover-color: $color) {
  cursor: pointer;
  color: $color;
  background: transparent;
  border: 0;
  outline: none;
  font-size: inherit;
  &:hover,
  &:focus {
    color: $hover-color;
    text-decoration: underline;
  }
}

// variables
// Main colors
$primary-color: #016670;
$secondary-color: #4a90e2;
$sub-color: #ff9600;
$error-color: #ff2c55;
$primary-hover-color: #1da841;
$primary-pressed-color: #139e37;
$light-color: #8f8e94;
$disabled-color: rgba(0, 0, 0, 0.12);
$gray-color: #858585;
$dark-gray-color: #333333;
$light-gray-color: #fafafa;
$orange-color: #ffa616;
$warning-bg-light: #ffefed;
$warning-bg-dark: #ffe7e5;
$main-bg: #fafafa;
$warning-bg: #ffa6161f;
$dark-2-color: #5a5a5a;
$base-gray-1-color: #8f8f8f;
$base-gray-2-color: #a5a5a5;
$medium-gray-1-color: #c8c8c8;
$medium-gray-2-color: #d8d8d8;
$light-gray-1-color: #f0f0f0;
$light-gray-2-color: #f8f8f8;
$skeleton-color: #f5f5f5;
$transparent-black-7-color: rgba(#000, 0.08);
$alert-color: #fe3824;
$default-border-color: rgba(0, 0, 0, 0.12);
$darker-border-color: #d6d6d6;
$light-border-color: rgba(0, 0, 0, 0.08);
$input-border-color: #adadad;
$skeleton-color: $light-gray-1-color;
$skeleton-color-2: $light-gray-2-color;
// rewards
$bronze-color: #ca915c;
$silver-color: #b8b7b5;
$gold-color: #ffc044;
$platinum-color: #536980;
$main-font: "" SFPROTEXT "";
$bold-font: "" SFPROTEXT " Book";
$text-color: #000;
$font-size: 0.875rem;
$line-height: math.div(20, 14);
$margin_right_of_10: 2.6%;
$indentMain: 28px;
$fb-color: #1877f2;
$twitter-color: #1da1f2;
$primary_blue: #50c4d9;
$primary_purple: #7748df;
$want-color: #5d75ea;
// Admin bar colors
$admin-bar-primary-color: #000;
$admin-bar-secondary-color: #fff;
$strong-font-weight: 600;
$heavy-font-weight: 900;
$transition-duration: 0.3s;
$heading-letter-spacing: -0.03em;
$header-height: 64px;
.seo-page {
  padding-top: 120px;
  &__padding-top_none {
    padding-top: 0;
  }
  @include breakpoint($large-tablet) {
    padding-left: 34px;
    padding-right: 34px;
  }
  @include breakpoint($small-devices) {
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.seo-page-wrap {
  @include breakpoint($large-tablet) {
    padding-left: 34px;
    padding-right: 34px;
  }
  @include breakpoint($small-devices) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.seo-title {
  margin-top: 0;
  color: #333333;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  margin-bottom: 12px;
  @include breakpoint($small-devices) {
    font-size: 42px;
    line-height: 48px;
  }
}

.seo-sub-title {
  margin-top: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
  color: $gray-color;
  @include breakpoint($small-devices) {
    font-size: 26px;
    line-height: 30px;
  }
}

.seo-additional-title {
  color: #333333;
  font-family: "SFPROTEXT";
  font-size: 30px;
  font-weight: $strong-font-weight;
  letter-spacing: -0.2px;
  line-height: 34px;
  margin: 0 0 32px;
}

.all-activities-top-section {
  margin-bottom: 64px;
  @include breakpoint($small-devices) {
    margin-bottom: 80px;
  }
  &__small_margin {
    margin-bottom: 53px;
    @include breakpoint($small-devices) {
      margin-bottom: 53px;
    }
  }
}

.seo-info-locations {
  margin-bottom: 100px;
  text-align: center;
  &--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -11px;
  }
  &--title {
    color: #333333;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: -0.63px;
    line-height: 52px;
    margin: 0 0 50px;
  }
}

.seo-info-locations-item {
  width: 33%;
  padding: 0 11px;
  margin-bottom: 28px;
  @include breakpoint($small-devices) {
    width: 80%;
    text-align: center;
    margin: 0 auto 42px;
  }
  &--img {
    height: 146px;
    margin-bottom: 29px;
  }
  &--pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &--title {
    color: #333333;
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 16px;
    &__few_row {
      height: 60px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      @include breakpoint($small-devices) {
        height: auto;
      }
    }
  }
  &--text {
    font-size: 18px;
    line-height: 28px;
    color: $gray-color;
    font-weight: 100;
  }
}

.seo-find-more-standart {
  margin-bottom: 128px;
  &--btn {
    display: block;
    border-radius: 2px;
    width: 306px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.seo-find-more {
  position: absolute;
  bottom: 90px;
  &__top_activity {
    position: static;
  }
  &--btn {
    color: $primary-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    // @include icomoon($icon-ic_arrowNext);
    position: relative;
    &::before {
      position: absolute;
      right: -26px;
      font-size: 16px;
      transition: transform 0.2s;
    }
    &:hover {
      &:before {
        transform: translateX(5px);
      }
    }
  }
}

.seo-reviews {
  &--list {
    column-count: 2;
    @include breakpoint($small-devices) {
      column-count: 1;
    }
    &__size_small {
      display: flex;
      align-items: flex-start;
      @include breakpoint($small-devices) {
        display: block;
      }
      .location-review-item {
        &:first-child {
          margin-right: 16px;
          @include breakpoint($small-devices) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.all-activities-top-section-search {
  display: flex;
  justify-content: left;
  padding-top: 48px;
  padding-bottom: 16px;
  @include breakpoint($small-devices) {
    flex-wrap: wrap;
  }
}

.all-activities-top-dropdown {
  &--btn {
    width: 142px;
    min-width: 142px;
    border-radius: 0 2px 2px 0;
    font-weight: bold;
    @include breakpoint($small-devices) {
      width: 100%;
      border-radius: 0;
    }
  }
}

.seo-cat-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px 106px;
}

.seo-cat-list-item {
  width: 33.3%;
  height: 300px;
  padding: 0 11px;
  margin-bottom: 22px;
  @include breakpoint($small-devices) {
    width: 50%;
  }
  @include breakpoint($hor-mobile) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    .seo-cat-list-item {
      &--inner {
        // @extend %big-shadow;
        @include breakpoint_min($tablet) {
          transition: all $transition-duration 0s;
          top: -4px;
        }
      }
    }
  }
  &--inner {
    height: 100%;
    position: relative;
    top: 0;
    transition: all 0.5s 0s;
  }
  &--pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &--cont {
    position: absolute;
    z-index: 1;
    display: flex;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 0 16px;
  }
  &--title {
    color: #ffffff;
    margin-top: -25px;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -0.6px;
    line-height: 52px;
    text-align: center;
    text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  }
}

.seo-section {
  margin: 0 0 96px;
  &:first-child {
    margin-top: 96px;
  }
  &--title {
    color: #333333;
    font-size: 30px;
    font-weight: $strong-font-weight;
    line-height: 34px;
    margin: 0 0 32px;
  }
  &--title-additional {
    color: $gray-color;
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
  }
  &--locations-title {
    color: $dark-gray-color;
    font-size: 24px;
    font-weight: $strong-font-weight;
    line-height: 34px;
    margin: 0 0 16px;
    text-transform: uppercase;
  }
}

.seo-locations-block-js {
  text-align: center;
}

.seo-faq-container {
  background-color: $light-gray-2-color;
}

.seo-faq {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 16px;
}

.seo-faq-list {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 0;
  }
}

.seo-faq-form {
  &--row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--control {
    width: 100%;
    margin-right: 16px;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
  }
  &--label {
    font-size: 14px;
    font-weight: $strong-font-weight;
    line-height: 20px;
    margin-bottom: 4px;
  }
  &--button {
    margin-top: 32px;
  }
}

.seo-faq-success {
  max-width: 576px;
  margin: 0 auto;
  padding: 24px 44px;
  text-align: center;
  h1 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: $dark-gray-color;
  }
  img {
    width: 96px;
    height: 96px;
    border-radius: 96px;
    box-shadow: 0 36px 80px rgba(0, 0, 0, 0.06),
      0 23.3333px 46.8519px rgba(0, 0, 0, 0.0455556),
      0 13.8667px 25.4815px rgba(0, 0, 0, 0.0364444),
      0 7.2px 13px rgba(0, 0, 0, 0.03);
  }
  p {
    font-size: 16px;
    line-height: 21px;
    color: $dark-2-color;
  }
}

.seo-faq-item {
  margin: 8px 0;
  padding: 24px 32px;
  background-color: white;
  color: $dark-gray-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--title {
    cursor: pointer;
  }
  &.active {
    .seo-faq-item--icon {
      transform: rotate(45deg);
    }
  }
  &--subtitle,
  &--note {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: $base-gray-1-color;
    letter-spacing: normal;
  }
  &--subtitle {
    margin-top: 8px;
    display: flex;
    > span {
      img {
        margin-right: 8px;
      }
      display: flex;
      align-items: center;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--note {
    margin-top: 4px;
    display: flex;
    > span {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &--note-separator {
    padding: 0 4px;
    font-weight: $strong-font-weight;
  }
  &--title-text {
    font-size: 22px;
    font-weight: $strong-font-weight;
    line-height: 26px;
    letter-spacing: -0.03em;
  }
  &--icon {
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;
    height: 24px;
    width: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // @include icomoon($icon-ic_plusAdd);
  }
  &--avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  &--cont {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    padding-right: 32px;
    &.active {
      transition: 0.4s;
      visibility: visible;
      opacity: 1;
    }
  }
  &--content {
    padding-top: 8px;
    font-size: 18px;
    line-height: 27px;
    a {
      @include link();
    }
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.seo-info-static {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  @include breakpoint($small-devices) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}

.seo-info-static-item {
  width: 33.3%;
  padding: 0 12px;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 34%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0;
  @include breakpoint($small-devices) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 48%;
    margin-bottom: 18px;
  }
  &--img {
    z-index: 1;
    object-fit: cover;
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &--cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    margin: 0;
    overflow: hidden;
  }
  &--title {
    color: #ffffff;
    font-family: "SFPROTEXT";
    font-size: 42px;
    font-weight: $strong-font-weight;
    letter-spacing: -0.63px;
    line-height: 48px;
    text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    margin: 0;
    padding: 40px 32px 0;
    @include breakpoint($small-devices) {
      font-size: 32px;
      padding: 18px 14px 0;
    }
  }
  &--text {
    color: #ffffff;
    font-family: "SFPROTEXT";
    font-size: 16px;
    margin: 0;
    padding: 0 32px 24px;
    line-height: 22px;
    text-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    @include breakpoint($small-devices) {
      padding: 0 14px 24px;
    }
  }
}

.location-reviews-main {
  display: flex;
  align-items: center;
  min-width: 0;
  float: none;
  &--content {
    position: relative;
    height: 14px;
  }
  &--count {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin-left: 4px;
    &__size_12 {
      font-size: 12px;
      line-height: 11px;
    }
  }
}

.location-review-main-info-parent {
  display: flex;
  align-items: center;
  margin: 0 0 16px;
  white-space: nowrap;
}

.location-review-main-info {
  display: flex;
  align-items: flex-start;
  margin-right: 12px;
  @include breakpoint($small-devices) {
    margin-right: 6px;
  }
  &--item {
    margin-right: 2px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #adadad;
    border-radius: 2px;
    padding: 0 9px;
    @include breakpoint($small-devices) {
      padding: 0 6px;
      font-size: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.location-review-item {
  padding: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #efeff4;
  display: inline-block;
  width: 100%;
  //float: left;
  page-break-inside: avoid;
  break-inside: avoid;
  border-radius: 16px;
  background-color: #f5f5f5;
  padding-bottom: 30px;
  @include breakpoint($small-devices) {
    padding: 32px;
  }
  &--content {
    background: inherit;
  }
  &--rating {
    position: relative;
    margin-left: 8px;
  }
  &--img {
    width: 56px;
    height: 56px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    background-image: url(../../../../../assets/images/userpicEmpty.svg);
  }
  &--name {
    color: #333333;
    font-size: 16px;
    font-weight: $strong-font-weight;
    line-height: 22px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  &--location-name {
    float: right;
    color: #016670;
    font-weight: 400;
    font-family: "SFPROTEXT";
    font-size: 14px;
    line-height: 20px;
    &:hover,
    &:visited,
    &:active {
      text-decoration: none;
      color: #016670;
    }
  }
  &--location-title {
    max-width: 360px;
    display: inline-flex;
  }
  &--time {
    color: #858585;
    font-size: 14px;
    @include breakpoint($small-devices) {
      font-size: 12px;
    }
  }
  &--title {
    color: #333333;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 4px;
  }
  &--text {
    color: #333333;
    font-size: 16px;
    line-height: 28px;
    background: inherit;
    &.mereShowMoreIsActive {
      margin-bottom: 22px;
    }
  }
}

.seo-img-content {
  @include aspect-ratio(math.div(2, 3));
  // will-change fixes hover lag on safari
  will-change: transform;
  position: relative;
  display: block;
  transition: box-shadow 0.25s, transform 0.25s;
  &__hovered {
    outline: none;
    &:hover,
    &:focus {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
      transform: translateY(-4px);
    }
  }
  &--figure {
    position: relative;
    margin: 0;
    height: 100%;
    &:before,
    &:after {
      content: "";
      position: absolute;
      max-height: 100%;
      z-index: 1;
    }
    &__local_hosts {
      &:before {
        top: 0;
        right: 0;
        left: 0;
        height: 200px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.24) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        z-index: 2;
        @include breakpoint($small-devices) {
          display: none;
        }
      }
      &:after {
        right: 0;
        left: 0;
        bottom: 0;
        height: 100px;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
  &--caption,
  &--img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &--caption {
    display: flex;
    flex-direction: column;
    z-index: 2;
    &__local_hosts {
      padding: 32px 32px 36px;
      padding-top: 44px;
      @include breakpoint($large-tablet) {
        padding: 32px;
      }
      @include breakpoint($small-devices) {
        padding: 15px 5px;
      }
    }
  }
  &--img {
    z-index: 1;
    object-fit: cover;
    background-color: #ddd;
  }
  &--title {
    margin: 0;
    font-size: 42px;
    font-weight: $strong-font-weight;
    color: #fff;
    line-height: 1.17;
    letter-spacing: -0.63px;
    @include breakpoint($large-tablet) {
      font-size: 30px;
    }
    @include breakpoint($small-devices) {
      font-size: 22px;
    }
    &__local_hosts {
      @include breakpoint($small-devices) {
        font-size: 32px;
      }
      @include breakpoint($hor-mobile) {
        font-size: 22px;
      }
    }
  }
  &--more {
    // @extend %seo-arrow;
    margin: 0;
    color: #fff;
    font-weight: $strong-font-weight;
    font-size: 14px;
    transition: color 0.2s;
    &__local_hosts {
      margin-top: auto;
    }
  }
  &--title,
  &--more,
  &--city {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  }
  &--city {
    opacity: 0.7;
    color: #ffffff;
    font-family: "SFPROTEXT";
    font-size: 14px;
    font-weight: $strong-font-weight;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  }
  &__local_hosts {
    @include aspect-ratio(math.div(10, 8.8));
    @include breakpoint($small-devices) {
      .seo-img-content--title {
        margin-top: auto;
        text-align: center;
      }
      .seo-img-content--more,
      .seo-img-content--city {
        display: none;
      }
    }
  }
}

%seo-arrow {
  // @include icomoon($icon-ic_arrowNext,
  // "after");
  &:after {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    font-size: 16px;
    transition: transform 0.2s;
  }
  &:hover {
    &:after {
      transform: translateX(5px);
    }
  }
}

.seo-content-section {
  margin-bottom: 96px;
  &:first-child {
    margin-top: 96px;
  }
  @include breakpoint($small-devices) {
    margin-bottom: 64px;
    &:first-child {
      margin-top: 64px;
    }
  }
  &--info {
    margin-bottom: 32px;
  }
  &--title {
    margin: 0;
    font-size: 24px;
    font-weight: $strong-font-weight;
    line-height: 1.15;
    color: #333;
    @include breakpoint($ver-mobile) {
      font-size: 20px;
    }
  }
  &--description {
    margin: 0;
    font-size: 22px;
    color: $gray-color;
    line-height: 1.5;
    @include breakpoint($small-devices) {
      font-size: 16px;
      line-height: 1.8;
    }
  }
  &--content-list {
    // @extend %a11y-list;
    --x-gap: 8px;
    --y-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--y-gap)) calc(-1 * var(--x-gap));
    @include breakpoint($large-tablet) {
      --x-gap: 8px;
      --y-gap: 8px;
    }
    &__popular {
      --y-gap: 15px;
    }
  }
  &--content-item {
    flex-basis: 50%;
    padding: var(--y-gap) var(--x-gap);
    &__local_hosts {
      flex-basis: 0% + math.div(100%, 3);
      @include breakpoint($small-devices) {
        flex-basis: 50%;
      }
    }
    @include breakpoint($hor-mobile) {
      flex-basis: 100%;
    }
  }
  &--view-all {
    // @extend %seo-arrow;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: $primary-color;
  }
}

.seo-additional-content {
  max-width: 688px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
  &--content {
    font-size: 16px;
    h4 {
      font-size: 18px;
    }
    h3 {
      font-size: 21px;
    }
    img {
      max-width: 100%;
    }
  }
}

//
$seo-location-padding-x: 0.5rem;
$seo-no-locations-icon-size: 4.375rem;
.seo-filters-wrapper {
  margin-bottom: 0.5rem;
}

.seo-filters {
  display: inline-block;
  font-size: 0;
  padding: 1rem 0;
  white-space: nowrap;
}

.seo-filter {
  & + & {
    margin-left: 0.5rem;
  }
  &__skeleton {
    background-color: #f5f5f5;
    border-radius: 2px;
    display: inline-block;
    // height: calc(#{$filter-font-size} + #{$filter-padding-y} * 2 + 2px/* borders */
    // );
    width: 8rem;
  }
}

.seo-no-locations {
  color: $dark-gray-color;
  padding: 4.5rem 0;
  text-align: center;
  &--icon {
    height: $seo-no-locations-icon-size;
    margin-bottom: 1rem;
    width: $seo-no-locations-icon-size;
  }
  &--title {
    font-size: 1.375rem;
    font-weight: $strong-font-weight;
    margin: 0.625rem 0;
  }
  &--text {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }
  &--button {
    color: $primary-color;
    &:hover {
      color: $primary-hover-color;
    }
  }
}

.seo-locations-search {
  &--hint {
    font-size: 1.125rem;
    margin-top: 1rem;
  }
  &--button {
    margin-top: 1.5rem;
    &__secondary {
      color: $primary-color;
    }
  }
}

$overlay-padding: 10px;
.lb {
  --img-ratio: 2/3;
  --img-controls-margin: 10px;
  &__superhost {
    .lb--superhost {
      display: block;
    }
  }
  &__new {
    .lb--prop__new {
      display: flex;
    }
  }
  &__instant {
    .lb--prop__instant-book {
      display: flex;
    }
  }
  &__rating5 {
    .lb--prop__rating1 {
      display: none;
    }
    .lb--prop__rating5 {
      display: flex;
    }
  }
  &__no_bookings {
    .lb--prop__rating {
      display: none;
    }
    .lb--prop__rating5 {
      display: none;
    }
  }
  &--img-content-wrapper {
    @include aspect-ratio(var(--img-ratio), ".lb--img-content");
    position: relative;
  }
  &--slider {
    height: 100%;
    background: $skeleton-color;
  }
  &--superhost {
    display: none;
    position: absolute;
    top: var(--img-controls-margin);
    left: var(--img-controls-margin);
    padding: 0 6px;
    color: #fff;
    background-color: #9fedd7;
    border-radius: 2px;
    font-size: 10px;
    font-weight: $strong-font-weight;
    line-height: 19px;
    text-transform: uppercase;
  }
  &--fav {
    position: absolute;
    top: 0;
    right: 0;
    &-btn {
      padding: $overlay-padding;
    }
  }
  &--text-content {
    padding-top: 16px;
    overflow-x: hidden;
    border-radius: 0 0 8px 8px;
    background-color: #effffb;
  }
  &--title {
    font-size: 12px;
    text-align: left;
    padding: 0 15px;
    color: #213b55;
    font-weight: 500;
    @include line-clamp(1);
    @include breakpoint($hor-mobile) {
      @include line-clamp(2);
    }
  }
  &--props-list {
    display: flex;
    flex-wrap: wrap;

    font-size: 12px;
    color: #333333;
    padding: 0 15px;
  }
  &--prop {
    display: flex;
    align-items: center;
    &__price {
      font-size: 13px;
    }
    &__instant-book {
      display: none;
    }
    &__new {
      display: none;
    }
    &__rating5 {
      display: none;
    }
    &:before {
      content: "・";
      margin: 0 3px;
      font-size: 12px;
    }
  }
  &--new {
    margin: 0 2px;
    padding: 1px 4px;
    border: 1px solid $dark-gray-color;
    border-radius: 2px;
  }
  &--rating-value {
    display: flex;
    align-items: center;
    margin-right: 3px;
    font-weight: $strong-font-weight;
  }
  &--price-value {
    font-weight: $strong-font-weight;
  }
  &--instant-icon {
    margin-right: 3px;
  }
  &--address {
    font-style: normal;
  }
}

.lb--prop:first-child::before {
  content: none;
}

.lb-slider {
  overflow: hidden;
  position: relative;
  will-change: transform;
  &:hover {
    .lb-slider--control {
      opacity: 1;
    }
  }
  &--track {
    height: 100%;
  }
  &--slides {
    border-radius: 10px 10px 0 0 !important;
    height: 100%;
    flex-wrap: wrap;
    animation-name: fts-location--show;
    animation-duration: 0.5s;
  }
  &--slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &--link {
    display: block;
    width: 100%;
    height: 100%;
  }
  &--img {
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &--controls-container {
    &:focus {
      .fts-location-slider--control {
        opacity: 1;
      }
    }
  }
  &--control {
    opacity: 0;
    position: absolute;
    top: calc(50% - 16px);
    z-index: 1;
    display: flex;
    padding: 4px 8px;
    font-size: 16px;
    color: $dark-gray-color;
    background-color: rgba(#fff, 0.85);
    border: 0;
    border-radius: 2px;
    outline: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: opacity $transition-duration ease,
      background-color $transition-duration;
    &:hover {
      background-color: #fff;
    }
    @include breakpoint($small-devices) {
      display: none;
    }
  }
  &--prev {
    // @include icomoon($icon-ic_chevroneLeft);
    left: 12px;
  }
  &--next {
    // @include icomoon($icon-ic_chevroneRight);
    right: 12px;
  }
}

.seo-section {
  &:first-child {
    margin: 50px 0;
  }
}

.seo-section--locations-title {
  // font-family: "SFProText" !important;
  margin: 0 0 0 5px;
}

.lb--superhost {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  height: 60px;
  top: 0;
  left: -1px;
  p {
    transform: rotate(-38deg);
    position: relative;
    top: 15px;
    left: -9px;
    color: #016670;
  }
}

.fas {
  cursor: pointer;
}

.edit-delete-action {
  position: absolute;
  right: 5px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section-edit {
  height: 30px;
  width: 30px;
  padding: 8px;
  cursor: pointer;
  color: #016670;
  background-color: #e7f5f5 !important;
  border-radius: 3px;
}

.title-edit {
  height: 30px;
  width: 30px;
  padding: 8px;
  cursor: pointer;
  color: #016670;
  background-color: #e7f5f5 !important;
  border-radius: 3px;
}

.subTitle-edit {
  height: 30px;
  width: 30px;
  padding: 8px;
  cursor: pointer;
  color: #016670;
  background-color: #e7f5f5 !important;
  border-radius: 3px;
}

/* 29-8-2023 */
@media (max-width: 1200px) {
}

@media (max-width: 800px) {
  .custom-flex {
    display: flex;
    flex-direction: column;
    .edit-delete-action {
      position: initial;
      margin: 0 0 8px 0;
    }
  }
}

@media (max-width: 767px) {
  .seo-section--locations-title {
    font-size: 24px;
  }
}

/* 28-8-2023 */
@media (max-width: 575px) {
  .seo-section--locations-title {
    font-size: 16px;
    line-height: 26px;
  }
}
