<div class="resource-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="gallery-item-container item-container-regular">
          <div class="gallery-item-wrapper">
            <img
              src="https://static.wixstatic.com/media/3e7bbe_1617ae0f23204e89a99e176262d45ae3~mv2.jpg/v1/fill/w_454,h_276,fp_0.50_0.50,q_90,enc_auto/3e7bbe_1617ae0f23204e89a99e176262d45ae3~mv2.jpg"
            />
          </div>
          <div class="gallery-item-common-info-outer">
            <ul class="">
              <li class="UZa2Xr">
                <span title="Nov 10, 2022" class="">Nov 10, 2022</span>
              </li>
              <li class="UZa2Xr">
                <div
                  class="blog-post-homepage-description-background-color"
                ></div>
              </li>
              <li class="UZa2Xr">
                <span class="post-metadata__readTime" title="1 min">1 min</span>
              </li>
            </ul>
            <h1>How does search rating work?</h1>
            <p>
              Your listing's visibility to potential clients is one of the major
              factors leading to your success as a Host on Location Genie. The
              higher your...
            </p>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="col-md-6">
        <div class="gallery-item-container item-container-regular">
          <div class="gallery-item-wrapper">
            <img
              src="https://static.wixstatic.com/media/3e7bbe_cf3f3e7805574811a3ce48cbee205bd1~mv2.jpg/v1/fill/w_454,h_276,fp_0.50_0.50,q_90,enc_auto/3e7bbe_cf3f3e7805574811a3ce48cbee205bd1~mv2.jpg"
            />
          </div>
          <div class="gallery-item-common-info-outer">
            <ul class="">
              <li class="UZa2Xr">
                <span
                  title="Sep 21, 2022
                "
                  class=""
                  >Sep 21, 2022
                </span>
              </li>
              <li class="UZa2Xr">
                <div
                  class="blog-post-homepage-description-background-color"
                ></div>
              </li>
              <li class="UZa2Xr">
                <span class="post-metadata__readTime" title="2 min">2 min</span>
              </li>
            </ul>
            <h1>Location Genie Renting Rules</h1>
            <p>
              To make Your experience on Location Genie as satisfying as
              possible, we've created the following rules that all Renters are
              expected and...
            </p>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="col-md-6">
        <div class="gallery-item-container item-container-regular">
          <div class="gallery-item-wrapper">
            <img
              src="https://static.wixstatic.com/media/3e7bbe_8393d4cd0e914decbbffdd0d77d25652~mv2.jpg/v1/fill/w_454,h_276,fp_0.50_0.50,q_90,enc_auto/3e7bbe_8393d4cd0e914decbbffdd0d77d25652~mv2.jpg"
            />
          </div>
          <div class="gallery-item-common-info-outer">
            <ul class="">
              <li class="UZa2Xr">
                <span title="Sep 21, 2022" class="">Sep 21, 2022</span>
              </li>
              <li class="UZa2Xr">
                <div
                  class="blog-post-homepage-description-background-color"
                ></div>
              </li>
              <li class="UZa2Xr">
                <span class="post-metadata__readTime" title="2 min">2 min</span>
              </li>
            </ul>
            <h1>Location Genie Hosting Rules</h1>
            <p>
              To make Your and Your Renter's experience on Location Genie as
              satisfying as possible, we've created the following rules that all
              Hosts are...
            </p>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="col-md-6">
        <div class="gallery-item-container item-container-regular">
          <div class="gallery-item-wrapper">
            <img
              src="https://static.wixstatic.com/media/43782c_a1f1b2b9390b4546b2a4275644914721~mv2.jpg/v1/fill/w_454,h_276,fp_0.50_0.50,q_90,enc_auto/43782c_a1f1b2b9390b4546b2a4275644914721~mv2.jpg"
            />
          </div>
          <div class="gallery-item-common-info-outer">
            <ul class="">
              <li class="UZa2Xr">
                <span title="Nov 9, 2021" class="">Nov 9, 2021</span>
              </li>
              <li class="UZa2Xr">
                <div
                  class="blog-post-homepage-description-background-color"
                ></div>
              </li>
              <li class="UZa2Xr">
                <span class="post-metadata__readTime" title="3 min">3 min</span>
              </li>
            </ul>
            <h1>How to Create a Listing on Location Genie</h1>
            <p>
              Hosting on Location Genie starts with creating a listing, which
              takes a few quick steps: 1. Sign up by clicking on the “Sign up”
              button in the...
            </p>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
