section.hosting {
  margin: 71px 0 0;
  padding: 70px 0 0;
  font-family: "Poppins", sans-serif;
  .heading {
    h1 {
      font-size: 30px;
      font-weight: 600;
    }
    p {
      color: #c8c5c5;
    }
  }
}

section.location-genie {
  background: rgba(60, 170, 159, 0.1);
  margin: 27px 0 0;
  padding: 32px 0;
  .left-content {
    position: relative;
    img {
      border-radius: 10px;
    }
    .about {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 10px 10px;
      background-color: rgba(0, 0, 0, 0.6);
      p {
        color: #fff;
        padding: 15px;
        height: 70px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .right-content {
    position: relative;
    img {
      border-radius: 10px;
    }
  }
  .about {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    p {
      color: #fff;
      padding: 15px;
      height: 70px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

a:hover {
  text-decoration: none;
}

.button {
  text-align: center;
  margin: 70px 0;
  a {
    border-radius: 5px;
    background: #016670;
    color: #fff;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
  }
}

//Responsive
@media only screen and (max-width: 1200px) {
  section.location-genie {
    .about {
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 68px;
      }
    }
  }
  .button {
    margin: 50px 0 80px 0;
  }
}

@media only screen and (max-width: 767px) {
  section.location-genie {
    .right-content {
      margin: 16px 0 0;
    }
  }
  section.hosting {
    .heading {
      h1 {
        font-size: 28px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  section.hosting {
    padding: 30px 0 0;
    .heading {
      h1 {
        font-size: 18px;
      }
    }
  }
  .button {
    padding: 10px 25px;
    margin: 30px 0;
    a {
      padding: 10px 25px;
      font-size: 14px;
    }
  }
}

.stepCount {
  text-align: end;
  color: #333;
  font-weight: 600;
  font-size: 14px;
}
