<div class="all-collection">
  <!-- ADD breadcrumb USING MAT COMPONENT -->
  <div class="list-data">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="flex flex-col">
            <header
              class="mb-5 font-primary text-2xl font-bold leading-10 text-body-primary-color"
            >
              About Location Genie
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          What is Location Genie?
        </mat-expansion-panel-header>
        Location Genie is an online platform and marketplace for people to list,
        discover, and book film-friendly locations.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          What does Location Genie do?
        </mat-expansion-panel-header>
        Location Genie connects property hosts with renters looking to film or
        have an event in their home or space. Location Genie's online platform
        allows renters to search for specific film-friendly locations,
        communicate with hosts, and execute payments quickly and easily in a
        single place.
        <br />
        <br />
        Location Genie has two main goals: First, to provide renters with a
        platform to more easily, and more affordably, find and book unique
        filming locations as well as event spaces. And second, to give property
        owners a new channel to showcase their properties and earn some
        additional income.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          How is Location Genie different from other platforms?
        </mat-expansion-panel-header>
        Location Genie is designed specifically for the filming industry. Not
        only is every property on our site film-friendly, we also include
        industry-specific services such as helping coordinate permits, site reps
        and location scouts as well as offer variable pricing for different crew
        sizes and shoot types. Location Genie is based in Santa Monica,
        California and our founding team has strong ties to both the city's tech
        and entertainment industries. Our inventory includes private and
        commercial spaces ranging from mansions, office buildings and studios to
        ranches, stadiums, and private zoos.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          How often does Location Genie list new spaces on the site?
        </mat-expansion-panel-header>
        Location Genie's database is updated daily. New listings include both
        the properties that are manually uploaded by our hosts, as well as the
        properties published by our team from our large company backlog (our
        library includes 2,000+ unpublished locations). Check in every few days
        to see new additions.
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
