<div class="body-wrapper landing main-splash">
  <!-- <div class="header headerStyle">
    <div class="container-wrapper">
      <ul class="links">
        <li class="link misc company">
          <a class="bzyButtonColor"
            ><span class="polygot">Company Website</span></a
          >
        </li>
      </ul>
      <a class="brand"><h3>Location Genie</h3></a>
      <ul class="portal-nav">
        <li class="nav-item">
          <a class="jumpTo"><span>Perks</span></a>
        </li>
      </ul>
    </div>
  </div> -->
  <div id="hero" class="hero">
    <div
      id="heroBackgroundImage"
      style="
        background-image: linear-gradient(
            rgba(50, 186, 85, 0),
            rgba(50, 186, 85, 0)
          ),
          url('https://gallery-cdn.breezy.hr/de1912b2-5a29-4ed8-b91f-0cc18d9591fc/hero_bw.jpg');
      "
      class="hero-background-image"
    ></div>
    <div id="heroBackgroundColor" class="hero-background-color">
      <div class="banner">
        <div><h1>Come work with us.</h1></div>
        <p>We're looking for great people to join our growing team.</p>
        <a
          style="background-color: rgba(0, 0, 0, 0.2)"
          class="polygot-parent button large cta jumpTo"
          ><span class="polygot">View Openings</span></a
        >
      </div>
    </div>
  </div>
  <div id="perks" class="container why perks">
    <div class="container-wrapper">
      <div class="section">
        <ul class="row justify-content-center pl-0 mx-0">
          <li class="item">
            <i
              style="background: rgb(26 114 121); color: #fff"
              class="fa fa-heart"
            ></i>
            <p></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container positions">
    <a id="positions" style="position: relative; top: -120px"></a>
    <div class="container-wrapper">
      <h1 class="polygot">Our Openings</h1>
      <div class="positions-container">
        <div class="no-positions-container">
          <h2 class="polygot">
            Sorry, we don't currently have any open positions.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
