.wrapper {
  margin-bottom: 0px;
  height: 100vh;
}

.dialog-header {
  border-bottom: 1px solid #e2e2e2;
}

.heading {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.content {
  margin-right: 25px;
  width: 100px;
}

.cross {
  cursor: pointer;

  .mat-icon {
    font-family: "Material Icons" !important;
  }
}

.form-group.relative {
  position: relative;
  margin: 10px 0 0;

  label {
    font-weight: 400;
  }

  i {
    position: absolute;
    top: 40px;
    right: 10px;
  }
}

small.has-error--text {
  color: red;
}

.container {
  max-width: 96% !important;
  .change-password{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 440px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 3px 1px #ededed;
    form{
      width: calc(100% - 20px);
      margin: auto;
      button{
        width: 100%;
      }
    }
  }
}

.mdc-dialog__title {
  padding: 0 24px 9px 0;
}

.password-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../../assets/images/portrait_mid8.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

//Responsive
@media only screen and (max-width: 500px){
  .container{
    .change-password{
      width: calc(100% - 50px);
    }
  }
}

@media only screen and (max-width: 375px){
  .container{
    .change-password{
     padding: 15px;
    }
  }
}