<section id="main" class="ember-application">
  <!---->
  <div class="container mb-5">
    <div class="row mx-0">
      <div class="col-lg-7 col-md-6 p-0 mrgn_top" style="margin-top: 40px">
        <div class="d-flex heading-1">
          <p>
            Hello
            <span>
              <img
                height="50"
                src="assets/images/blog/hello-hand.png"
                alt="image not found"
              />
            </span>
            <br />
            and welcome to <br />
            Location Genie Community
          </p>
        </div>
        <!-- <div class="heading-1">
          <p>
            and welcome to <br />
            Location Genie Community
          </p>
        </div> -->

        <div class="sub-heading mt-2">
          <p>
            Ask questions, find answers and share your hosting experience <br />
            with Location Genie hosts from around the world.
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 p-0">
        <div class="community_image">
          <img
            height="300"
            src="assets/images/blog/community-banner.png"
            alt="image not found"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div id="ember10" class="ember-view">
      <div class="row mx-0">
        <div id="banner">
          <div id="banner-content">
            <p>
              Hello and welcome to the Location Genie Community! This is a place
              where hosts and renters can come together to share their ideas,
              delights, as well as frustrations from their experiences using the
              platform.
            </p>
            <p>
              Here are some examples of ways you can use the Location Genie
              Community:
            </p>
            <ul>
              <li>
                Post questions to Location Genie as well as other hosts on the
                platform;
              </li>
              <li>
                Share your feedback with the Location Genie Product Team about
                your experience using the website;
              </li>
              <li>
                Answer other hosts’ questions and share your hosting tips and
                tricks;
              </li>
              <li>Network with other hosts in the community.</li>
            </ul>
            <p>
              We hope that sharing and reading others’ insights will help you
              achieve more successful bookings as well as help us improve the
              product as a whole.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </div>

  <div id="d-menu-portal-outlet"></div>

  <!---->

  <div id="d-tooltip-portal-outlet"></div>

  <!---->

  <section class="fk-d-toasts">
    <!---->
  </section>
</section>
