$background: white;
$primary: #016670;
$secondary: #dddddd;
.footerChat_fixed {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #fff;
  z-index: 99;
}
.message {
  height: calc(100vh - 0px);
  .users {
    background: #ecf2f4;
    border-right: 1px solid #cacaca;
    .total-users {
      .list-unstyled {
        li {
          padding: 10px 10px 10px 20px;
          margin-bottom: 0px;
          border-bottom: 1px solid #bfbfbf;
          transition: all 0.1s ease-in-out;
          display: flex;
          align-items: center;
          &.active {
            background: $primary;
            color: #fff;
            // box-shadow: 0 0 9px 7px #01667057;
          }
          &:hover {
            background: #016770be;
          }
        }

        .user-img {
          height: 44px;
          width: 44px;
          border-radius: 50%;
          float: left;
        }
        .about-user {
          display: inline-block;
          padding-left: 8px;
          line-height: 16px;
          .status {
            small {
              max-width: 70px;
              display: inline-block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .last-message-img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.caption {
  padding: 30px;
  text-align: center;
  color: $primary;
}

#thumbnail {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-list {
  padding: 16px;
  overflow-y: auto;

  .chat-head-date {
    text-align: center;
    background-color: rgb(1 102 112 / 8%);
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    padding: 8px 15px;
    color: #016670;
  }

  .chat-item {
    max-width: 80%;
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
    position: relative;

    #message-body {
      background: $primary;
      margin: auto 8px;
      // padding: 12px 24px;
      padding: 10px 14px 10px 12px;
      border-radius: 15px;
      color: white;
      display: flex;
      flex-direction: row;
      font-size: 14px;
    }

    #avatar {
      height: 30px;
      width: 30px;
      object-fit: cover;
      border-radius: 50%;
      z-index: 99;
      border: 3px solid $background;
    }

    &__message--img {
      border-radius: 15px;
    }

    &__doc-download {
      position: absolute;
      height: 200px;
      width: 300px;
      z-index: 10;
      color: transparent;
      cursor: pointer;

      &--right {
        right: 51px;
      }

      &--left {
        left: 26px;
      }

      mat-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background-color: rgb(255, 255, 255, 0.5);
        color: $primary;
      }
    }
  }

  .left {
    margin-right: auto;
    margin-left: 8px;

    #message-body {
      margin-left: -10px;
      background: $secondary;
      color: #000;
    }
  }

  .right {
    margin-right: 8px;
    margin-left: auto;
    flex-direction: row-reverse;

    #message-body {
      margin-right: -10px;
    }
  }
}

.chat-footer {
  display: flex;
  flex-direction: row;
  padding: 16px;
  //   background: $primary;
  border-radius: 6px;
  position: relative;
  .chat-wrapper {
    position: relative;
    margin: 0 8px;
    border: 0px;
    box-shadow: 0 0 16px rgb(167 167 167 / 50%);
    padding: 10px 100px 10px 20px;
    outline: none;
    border-radius: 25px;
    border: 2px solid #cfcece;
    transition: all 0.3s ease-in-out;
    .cancel-edit-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
      &:hover {
        color: red;
        font-weight: 600;
      }
    }
    .chat-img-wrapper {
      position: relative;
      .chat-upload-img {
        border-radius: 10px;
        width: 100px;
        padding: 3px;
      }
      i {
        display: flex;
        height: 20px;
        width: 20px;
        color: #fff;
        background: rgb(112 111 111);
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 12px;
        position: absolute;
        left: 86px;
        cursor: pointer;
        top: -5px;
        font-weight: 600;

        &:hover {
          background-color: black;
        }
      }
    }

    #chat-textarea {
      flex: 1;
      border: none;
      outline: none;

      // &:focus {
      //   border: 2px solid $primary;
      // }
    }

    #send-button {
      border: 0;
      // box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      padding: 0 8px;
      position: absolute;
      right: 5px;
      // top: 20px;
      bottom: 4px;
      // box-shadow: 0 0 12px 12px #0167705d;
      transition: all 0.3s ease-in-out;
    }

    .hide-attach-file {
      visibility: hidden;
      opacity: 0;
    }

    .attach-file {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      padding: 8px;
      position: absolute;
      right: 50px;
      // top: 20px;
      bottom: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      transition: box-shadow 0.2s;

      &:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      }
    }

    .emoji-btn {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      padding: 8px;
      position: absolute;
      right: 90px;
      // top: 20px;
      bottom: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      transition: box-shadow 0.2s;

      button {
        border: none;
        outline: none;
      }

      &:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      }
    }

    .mat-mdc-mini-fab[disabled][disabled] {
      box-shadow: none !important;
    }
  }
}

.chat-time {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 10px;
}

#clear-button {
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  background: $primary;
  border-radius: 6px;
}

::-webkit-scrollbar {
  display: none;
}

.details {
  h1 {
    font-size: 21px;
    margin: 12px 0;
  }
  .button {
    margin: 10px 0 20px 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 20px 0;
    width: 100%;
  }
}

.search-bar {
  position: relative;
  display: flex;

  .search-btn {
    position: absolute;
    right: 4px;
    top: 5px;
  }
}

.online {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #05a305;
  display: inline-block;
  position: absolute;
  left: 52px;
  border: 2px solid #eee;
}

.offline {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #7a8a7ae5;
  display: inline-block;
  position: absolute;
  left: 52px;
  border: 2px solid #eee;
}

.you {
  position: absolute;
  right: 38px;
  padding: 0 4px;
  border-radius: 3px;
  background-color: #01677057;
}

.left-side {
  height: calc(100% - 75px);
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
}
.chat-list {
  height: calc(100% - 70px) !important;
  overflow: auto;
  margin-bottom: 10px;
}
.right-side {
  height: calc(100vh - 129px) !important;
}
.secondul {
  height: calc(100vh - 70px);
  overflow: auto;
}
.user-li {
  position: relative;
}

.unread-message {
  color: black;
  font-weight: 700;

  &-notification {
    position: absolute;
    right: 10px;
    // height: 10px;
    // width: 10px;
    background-color: red;
    border-radius: 5px;
    top: 10px;
    display: flex;
    small {
      padding: 0px 4px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.center-chat {
  position: relative;
  .reciever-img {
    position: absolute;
    top: -3px;
    border-radius: 50%;
    height: 30px;
  }
  .active-now {
    position: absolute;
    left: 86px;
    top: 11px;
    font-size: 12px;
    div {
      height: 7px;
      width: 8px;
      border-radius: 50%;
      background-color: #05a305;
      display: inline-block;
      position: absolute;
      left: -11px;
      top: 5px;
    }
  }
  .offline-now {
    position: absolute;
    left: 86px;
    top: 11px;
    font-size: 11px;
    div {
      height: 7px;
      width: 8px;
      border-radius: 50%;
      background-color: rgba(122, 138, 122, 0.8980392157);
      display: inline-block;
      position: absolute;
      left: -11px;
      top: 5px;
    }
  }
  .reciever-name {
    position: absolute;
    left: 74px;
    top: -8px;
    z-index: 1000;
    font-weight: 900;
    display: inline-block;
    small {
      font-weight: 600;
    }
  }
  .back-btn {
    display: none;
    position: absolute;
    top: -5px;
    left: 0;
    padding-left: 12px;
    z-index: 100;
    box-shadow: 3px 3px 6px -5px;

    width: 100%;
    // backdrop-filter: blur(4px);
    background-color: #fff;
  }
}

.name.text-bold {
  line-height: 18px;
  p {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .center-chat .active-now {
    top: 19px;
 }
 .admin_chat .center-chat .active-now {
  left: 96px;
  top: 19px;
}
.admin_chat .center-chat .reciever-name {
  left: 84px;
  top: -1px;
}
 .admin_chat .chat-list{
  padding: 46px 15px 10px 15px;
 }
  .admin_chat .reciever-img {
    margin-right: 10px;
  } 
  .message.animate__animated.animate__fadeIn .row {
    display: block;
  }
  .center-chat .back-btn {
    padding: 1px 10px;
  }
  .center-chat .reciever-img {
    top: 1px;
  }
  .center-chat .offline-now {
    top: 16px;
  }
  .center-chat .reciever-name {
    top: -3px;
  }
  // .right-side {
  //   height: calc(100vh - 70px) !important;
  // }
  .card {
    border: none;
  }

  .left-side {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    height: 0;

    &.show-left {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      height: calc(100vh - 70px);
    }
  }

  .center-chat {
    display: none;
    &.show-center {
      display: block;
    }
  }
  .message {
    height: calc(100vh - 70px);
    position: relative;
  }
  .center-chat {
    .back-btn {
      position: absolute;
      top: 0px;
      display: block;
      padding: 4px 20px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .chat-list .chat-head-date {
    font-size: 12px !important;
    font-weight: 400;
}
  .chat-list .chat-item #message-body {
    padding: 6px 20px 6px 10px;
    font-size: 12px;
    border-radius: 10px;
    word-break: break-word;
}
  .message {
    height: calc(100vh - 32px);
    .chat-list {
      height: calc(100% - 70px) !important;
    }
    .right-side {
      height: calc(100vh - 122px) !important;
    }
  }
}
@media only screen and (max-width: 575px) {
  .reciever-name small{
    display: block;
    width: 220px !important;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 414px) {
  .chat-footer .chat-wrapper {
    padding: 10px 138px 10px 20px;
  }
}
