<section class="find-location">
  <div class="container">
    <div class="col-sm-12">
      <div class="content text-center">
        <div class="stepCount">Tutorial {{ step }}/7</div>
        <h1>How do renters find your location?</h1>
        <p class="m-0">
          Only Location Genie offers full-text search, enabling tenants to look
          for rentals by style, name, location, or other criteria.
        </p>
        <img src="assets/images/location-img.png" class="img-fluid" />
        <p class="m-0">
          Make sure to highlight anything special or noteworthy about your item
          in the description or title to increase your chances of getting
          noticed in searches.<br />
          Ensure that you choose every element that your house possesses. Avoid
          choosing features or fashions that are unrelated to your listing. This
          will make it more difficult to locate you.
        </p>
        <div class="button">
          <a routerLink="/tutorial/slides/slide-3">Continue</a>
        </div>
      </div>
    </div>
  </div>
</section>
