<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <div class="col-6 m-4">
        <h4>Drive Bookings</h4>
        <p>
          When you make reservations on Location Genie, you have the same
          coverage but with additional margin. With just a 2% commission and a
          partner button and link, you can increase demand for your Location
          Genie listing while conserving 90%!
        </p>
      </div>
      <div class="col-6">
        <img
          src="assets/images/dummy/drive.png"
          style="border: 1px solid #c8c5c5; border-radius: 24px; padding: 5px; width: 400px;"
        />
      </div>
    </div>
  </div>
</div>
