<div class="card payouts-card">
  <div class="">
    <h1 class="text-bold">Payout Information</h1>
    <div class="description">Payout listing listing yet.</div>
  </div>

  <div class="No-coupen mt-3">
    <p class="mb-0">You don't have any published listings yet.</p>
  </div>

  <div class="mt-4">
    <div class="coupens-div">
      <div class="text-bold">Coupons</div>
      <div class="my-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
          <label class="custom-control-label" for="customCheck">Apply available Coupons to every payout of AED250 and
            higher
            automatically.</label>
        </div>
      </div>
      <div class="No-coupen">
        <p class="mb-0">You don't have any coupons yet.</p>
      </div>
    </div>
  </div>
</div>