<div class="referral">
  <section class="referral--banner">
    <img
      class="referral--banner__img"
      src="assets/images/referral/referral-banner.png"
      alt="referral-banner"
    />
    <div class="referral--banner__content">
      <h1 class="referral--banner__content__heading">
        Earn Location Genie credits for each new renter or host that you invite.
      </h1>

      <p class="referral--banner__content__summary">
        Send a new user AED50* and earn AED50* back after they complete their
        first booking or rent out their location for the first time
      </p>

      <ul class="referral--banner__content__summary--ul">
        <li class="referral--banner__content__summary--li">
          <small>1 Location genie credit is equivalent to 1 AED</small>
        </li>
      </ul>

      <div class="referral--banner__content__input">
        <form>
          <input
            clas="referral--banner__content__form-control"
            value="https://locationgenie.com/r/test-0u1j2"
            type="url"
          />
        </form>
      </div>
      <div class="referral--banner__content--actions">
        <button type="submit" class="btn btn-success btn-sm_size_smaller">
          Copy Link
        </button>
        <div class="social-links">
          <p><small>Share with</small></p>
          <a
            ><img src="assets/images/social-links/facebook.png" alt="facebook"
          /></a>
          <a
            ><img src="assets/images/social-links/twitter.png" alt="twitter"
          /></a>
          <a><img src="assets/images/social-links/email.png" alt="email" /></a>
        </div>
      </div>
    </div>
  </section>
  <section class="referral--coupons">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="referral--coupons__heading">Coupons</h3>
          <p class="referral--coupons__para">You don't have any coupons yet.</p>
          <hr />
        </div>
        <div class="col-12">
          <p class="referral--coupons__terms">
            Earnings will be paid in Location Genie coupons, which will be
            automatically added to your Location Genie account once the
            conditions are fulfilled. <a>Terms and conditions apply.</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
