<div class="container blurry_remove">
  <div class="dialog-header d-flex justify-content-between">
    <h3 class="heading" mat-dialog-title>{{ heading }}</h3>
    <div class="close-parent">
      <mat-icon class="close" (click)="dialogRef.close(null)">close</mat-icon>
    </div>
  </div>
  <div class="dialog">
    <div class="dialog-content">
      <div class="row">
        <div class="col-12 custom">
          <form
            *ngIf="editEventsForm"
            [formGroup]="editEventsForm"
            (ngSubmit)="onSubmitForm()"
          >
            <div mat-dialog-content>
              <mat-form-field
                appearance="outline"
                *ngIf="data.header"
                class="w-100 col-12 edit_event_frst p-2"
              >
                <mat-label>Header</mat-label>
                <input matInput formControlName="header" />
                <mat-error>
                  <small>Maximum length should be 60</small></mat-error
                >
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                *ngIf="data.subHeader"
                class="w-100 col-12 edit_event p-2"
              >
                <mat-label>Sub Header</mat-label>
                <input matInput formControlName="subHeader" />
                <mat-error>
                  <small>Maximum length should be 120</small></mat-error
                >
              </mat-form-field>

              <div formArrayName="tilesData">
                <div
                  class="mb-4"
                  *ngFor="let eventCtrl of eventsControls; let i = index"
                  [formGroupName]="i"
                >
                  <div>
                    <h5 class="w-100 col-12">Slide {{ i + 1 }}</h5>
                  </div>
                  <mat-form-field appearance="outline" class="w-100 col-12 edit_event_frst p-2">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" />
                    <mat-error>
                      <small>Maximum 30 characters allowed</small></mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100 col-12 edit_event p-2">
                    <mat-label>Link Text</mat-label>
                    <input matInput formControlName="linkText" />
                    <mat-error> <small>Link Text is required</small></mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100 col-lg-6 col-md-12 edit_event p-2">
                    <mat-label>Activities</mat-label>
                    <mat-select id="activities" multiple formControlName="link">
                      <mat-option
                        [value]="activity.id"
                        *ngFor="let activity of allActivities"
                      >
                        <p class="dropdown mb-0">{{ activity.name }}</p>
                      </mat-option>
                    </mat-select>
                    <mat-error
                      ><small>Select alteast one activity</small></mat-error
                    >
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100 col-lg-6 col-md-12 edit_event p-2">
                    <mat-label>Position</mat-label>
                    <input
                      matInput
                      (keyup)="checkPositionExists()"
                      formControlName="position"
                    />
                    <mat-error
                      *ngIf="eventCtrl.get('position')?.hasError('max')"
                      ><small
                        >Position should be less than or equal to
                        {{ data.max }}</small
                      ></mat-error
                    >
                    <mat-error
                      *ngIf="eventCtrl.get('position')?.hasError('min')"
                      ><small
                        >Position should be greater than 0</small
                      ></mat-error
                    >
                    <mat-error
                      *ngIf="eventCtrl.get('position')?.hasError('required')"
                      ><small>Position is required</small></mat-error
                    >
                    <div
                      class="text-danger mt-2"
                      *ngIf="
                        (isPositionOccupied &&
                          data.position !== +eventCtrl.value.position &&
                          +eventCtrl.value.position !== 0) ||
                        checkPositionExists()
                      "
                    >
                      <small>Position is already occupied</small>
                    </div>
                  </mat-form-field>
                  <div class="w-100 col-12 p-2">
                    <div class="d-flex justify-content-between">
                      <button
                        type="button"
                        class="mr-2"
                        mat-raised-button
                        matPrefix
                        (click)="f_input.click()"
                      >
                        Select Image
                      </button>
                      <button
                        *ngIf="eventsControls.length > 1 && !data.isEditingData"
                        type="button"
                        color="accent"
                        class="delete-fab"
                        mat-fab
                        align="start"
                        matTooltip="Delete this event"
                        (click)="onDeleteEvent(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                    <input
                      type="file"
                      hidden
                      (change)="onImageSelect($event, i)"
                      #f_input
                      accept="image/png, image/jpeg ,image/jpg, image/webp"
                    />
                    <div>
                      <small
                        class="has-error--text"
                        *ngIf="
                          (eventCtrl.get('imageUrl')?.hasError('required') &&
                            eventCtrl.value.imageUrl?.hasError('touched')) ||
                          (eventCtrl.get('imageUrl')?.hasError('required') &&
                            isSubmitted)
                        "
                        >Image is required</small
                      >
                    </div>

                    <div
                      class="mt-2"
                      *ngIf="eventsControls[i].value.imagePreview"
                    >
                      <img
                        class="mt-2"
                        [src]="eventsControls[i].value.imagePreview"
                        width="100%"
                        height="100%"
                      />
                    </div>
                  </div>

                  <hr *ngIf="eventsControls.length > 1" />
                </div>
              </div>
            </div>
            <div mat-dialog-actions align="end">
              <button
                type="button"
                color="primary"
                mat-raised-button
                align="start"
                (click)="onAddEvent()"
                class="text-white"
                *ngIf="
                  !data.isEditingData &&
                  eventsControls.length + occupiedPositions.length < data.max
                "
              >
                <mat-icon>add</mat-icon>Add New
              </button>
              <!-- <button
              mat-stroked-button
              (click)="dialogRef.close(null)"
              type="button"
              color="accent"
            >
              Cancel
            </button> -->
              <button
                type="submit"
                color="primary"
                mat-raised-button
                cdkFocusInitial
                class="text-white"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
