<div id="__next" class="all-collection">
  <div dir="ltr" class="h-full w-full">
    <main class="header__lite">
      <div
        class="z-1 flex shrink-0 grow basis-auto trust_bulid justify-center px-5 sm:px-10"
      >
        <section data-testid="main-content" class="max-w-full w-240">
          <div
            class="flex flex-col max-sm:gap-8 max-sm:pt-2 pt-4"
            id="trust-safety"
          >
            <div>
              <div class="flex flex-col">
                <header
                  class="mb-5 font-primary text-2xl font-bold leading-10 text-body-primary-color trust_safety"
                >
                  Trust &amp; Safety
                </header>
              </div>
              <!-- <div class="mt-5">
                <div class="flex gap-2">
                  <div class="flex flex-row">
                    <div
                      class="flex shrink-0 flex-col items-center justify-center rounded-full leading-normal sm:flex-row"
                      data-testid="avatars"
                    >
                      <img
                        width="24"
                        height="24"
                        src="https://static.intercomassets.com/avatars/179388/square_128/2020-08-24_14.09.00-1598267491.jpg"
                        alt="Elena Baterovska avatar"
                        class="inline-flex items-center justify-center rounded-full bg-primary text-lg font-bold leading-6 text-primary-text shadow-solid-2 shadow-body-bg [&amp;:nth-child(n+2)]:hidden lg:[&amp;:nth-child(n+2)]:inline-flex h-6 w-6 z-4"
                      /><img
                        width="24"
                        height="24"
                        src="https://static.intercomassets.com/avatars/179470/square_128/intercom_1582945845968-1582945851.jpg"
                        alt="Anastasia Nikonova avatar"
                        class="inline-flex items-center justify-center rounded-full bg-primary text-lg font-bold leading-6 text-primary-text shadow-solid-2 shadow-body-bg [&amp;:nth-child(n+2)]:hidden lg:[&amp;:nth-child(n+2)]:inline-flex h-6 w-6 ltr:-ml-1.5 rtl:-mr-1.5 z-3"
                      />
                    </div>
                  </div>
                  <span
                    class="line-clamp-1 flex flex-wrap items-center text-base text-body-secondary-color"
                    ><span class="hidden sm:inline">By Elena and 1 other</span
                    ><span class="inline sm:hidden">2 authors</span
                    ><svg
                      width="4"
                      height="4"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      class="m-2"
                    >
                      <path
                        d="M15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8Z"
                      ></path></svg
                    >4 articles</span
                  >
                </div>
              </div> -->
            </div>
            <div class="accordin-wrap mb-3 px-0">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Safety Tips for Renters
                  </mat-expansion-panel-header>
                  <article class="jsx-adf13c9b2a104cce">
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        To ensure a smooth and stress-free renting experience,
                        it's important to follow a few guidelines.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>1. Carefully review listing details</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Before sending a booking request, make sure you've
                        reviewed the listing rules, description, and what the
                        location does and does not provide. When a host accepts
                        a booking request, you contractually agree to Location
                        Genie's booking policies and all content detailed in the
                        host's listing.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>2. Check out previous reviews</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        One of the best ways to determine if a location is right
                        for you is to read previous guest reviews. These reviews
                        can provide valuable insights into the property, such as
                        accessibility, cleanliness and interaction with the
                        host. By reading reviews from other guests, you can make
                        an informed decision about whether the property is a
                        good fit for your needs.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>3. Be honest and transparent</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        When communicating with the property owner, be honest
                        about your plans and expectations. This includes any
                        questions or concerns you have about the property, as
                        well as any special requests you may have. By being
                        upfront and transparent, you can avoid any
                        misunderstandings and ensure that you have a positive
                        experience.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>4. Communicate and book on Location Genie</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        All communications and transactions related to your
                        booking, such as logistical questions and coordination,
                        must remain on Location Genie. Communicating and paying
                        through the Location Genie platform is the only way to
                        ensure your protection under our
                        <a rel="nofollow noopener noreferrer" target="_blank"
                          >Terms and Conditions</a
                        >, payment security,
                        <a>Cancellation &amp; Refund policy</a>, and fraud
                        safeguards.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>5. Do a walk-through with the host</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        When you arrive at the vacation rental, take a few
                        minutes to do a walk-through of the property with the
                        host and take pre and post-booking photos or videos of
                        the space together. If you notice any damages to the
                        space or an amenity not working, let your host know
                        right away. During the walk-through, ask your host to
                        clarify and point out any surveillance cameras on the
                        premises. Be mindful and respectful of your (and your
                        guests') treatment of the space throughout your rental
                        experience. Note that by booking on Location Genie, you
                        agree to fully cover any damages that you or your
                        crew/guests incur.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>6. Respect any restrictions</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Finally, make sure to respect location rules. This
                        includes rules about noise, smoking, pets, and other
                        issues. By following these guidelines, you can ensure
                        that you have a positive experience and avoid any
                        overages and claims.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Additionally, make sure to review
                        <a>Location Genie Location Agreement</a>,
                        <a rel="nofollow noopener noreferrer" target="_blank"
                          >Terms of Service</a
                        >
                        and
                        <a rel="nofollow noopener noreferrer" target="_blank"
                          >Renting Rules</a
                        >
                        that every renter agrees to when placing a booking
                        request.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                  </article>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Safety Tips for Hosts
                  </mat-expansion-panel-header>
                  <article class="jsx-adf13c9b2a104cce">
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p><b>Be honest with your renter</b></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Transparency is key and the foundation for trust and
                        long-term success when hosting. Be sure to set clear
                        expectations and rules with all potential renters and
                        provide accurate information about the features and
                        amenities of your location.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        <b>Get to know your renter</b>
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Remember, all users must be at least 18 yrs old in order
                        to transact through Location Genie. If a guest appears
                        to be underage or is misrepresenting the user on the
                        profile, please contact Location Genie Support so we may
                        intervene and obtain verification documents from the
                        renter.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        <b
                          >Ask all of the necessary questions before accepting a
                          booking</b
                        >
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Make sure to ask clarifying questions about the renter's
                        project, its nature, impact level, their expectations
                        about the space and their attendees, especially if
                        alcohol will be present.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        <b>Get ready for and supervise bookings</b>
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Before production or event start, be sure to remove or
                        secure valuable or sensitive items. Conduct a
                        walkthrough with your guest before and after the booking
                        and take pre and post-booking photos/videos of the
                        property. If you plan to stay on site or supervise with
                        live video surveillance, let the guest know upfront to
                        avoid confusion and set the right expectations.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        If you ever feel unsafe or uncomfortable with a guest,
                        please reach out to Location Genie Support at +1 (202)
                        900-1524 or
                        <a rel="nofollow noopener noreferrer" target="_blank"
                          >contact@Location Genie.com</a
                        >, so that we may intervene. Be sure to carefully
                        <a>document the situation </a>and collect evidence to
                        the best of your ability.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                  </article>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    What does a site rep do?
                  </mat-expansion-panel-header>
                  <article class="jsx-adf13c9b2a104cce">
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        A site representative is a friendly third-party mediator
                        who assists both the host and the renter to ensure the
                        process goes as planned and to keep everyone safe. They
                        make sure any property damage is avoided and take extra
                        care to make sure all renters comply with the rules of
                        the house, such as what areas are off limits, and
                        anything else that might be needed.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        If you decide to hire a Site Rep for your upcoming
                        session, the renter will incur an additional fee that
                        will go towards their professional Site Representative.
                        However, please keep in mind that if a Site Rep is not
                        selected, you (host) will need to take the time to
                        complete a walk-through yourself after the session and
                        sign a site rep report to ensure that the conditions of
                        the property and that any rules have been adhered to.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        If you are located in Los Angeles, Location Genie is
                        available to provide a highly experienced Site
                        Representative. Our roster of qualified professionals
                        typically charges $400 for an 8-hour day, $450 for 10
                        hours and $500 for 12 hours. We would be more than happy
                        to help source a Site Rep for you! Please feel free to
                        reach out to us via email at
                        <a rel="nofollow noopener noreferrer" target="_blank"
                          >contact@LocationGenie.com</a
                        >
                        with the details of your upcoming session.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Please find a template for a site rep report
                        <a rel="nofollow noopener noreferrer" target="_blank"
                          >here</a
                        >.
                      </p>
                    </div>
                  </article>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <section
              class="flex flex-col mb-5 rounded-card border border-solid border-card-border bg-card-bg p-2 sm:p-3"
            >
              <div id="section-heading">
                <div
                  class="py-3 pb-6 text-body-primary-color"
                  data-testid="collection-card-header"
                >
                  <a
                    class="duration-250 no-underline transition ease-linear hover:text-primary"
                    ><h5 class="m-0 text-xl font-600 no-underline">
                      Section heading
                    </h5></a
                  >
                </div>
                <div class="mb-3 accordin-wrap">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        What are Location Genie's Community guidelines?
                      </mat-expansion-panel-header>
                      <article class="jsx-adf13c9b2a104cce">
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            Location Genie's community of hosts and renters is
                            built on a foundation of trust and mutual respect.
                            Our top priority is ensuring a safe and authentic
                            experience for our users, and this means enforcing a
                            set of basic rules and standards. Below is the list
                            of our seven community guidelines.<br />&ZeroWidthSpace;
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="1-maintain-a-safe-environment">
                            1. Maintain a Safe Environment
                          </h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            You should not convey an intent to harm anyone by
                            your words or physical actions. You should not keep
                            or bring unsecured weapons, toxic or poisonous
                            substances, or dangerous animals to a Location Genie
                            location. You should not create conditions that
                            increase the likelihood of a fire, explosion or
                            chemical spill and emergency exits should be clear
                            and obvious at all times. We will intervene if we
                            become aware of any threat to a renter, host or
                            location.
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="2-respect-peoples-property">
                            2. Respect People's Property
                          </h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            Theft, vandalism, fraud, spam and extortion are
                            explicitly forbidden. You should not take property
                            that isn't yours, use someone's property without
                            their permission, copy others' keys or damage
                            others' property.<br />&ZeroWidthSpace;<br />You
                            should not make transactions outside of
                            <a
                              target="_blank"
                              rel="nofollow noopener noreferrer"
                              >Location Genie's payments system</a
                            >; commit booking fraud, credit card fraud, or
                            launder money; attempt to drive traffic to other
                            sites or market unrelated products; divert payments
                            meant for others; or make false claims against other
                            members of the community.
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="3-love-thy-neighbors">
                            3. Love Thy Neighbors
                          </h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            Renters and host must be cognizant and respectful of
                            the neighbors and workers around any Location Genie
                            property. You should not disturb common spaces,
                            disrespect neighbors, create a pervasive nuisance
                            for those around you, or fail to respond to
                            neighborhood and law enforcement concerns.
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="4-be-yourself">4. Be Yourself</h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            Our community is based on the reliability and
                            accuracy of our properties and renters. You should
                            not provide a false name or date of birth, use
                            properties for purposes without your host's
                            permission, host events or parties at the location,
                            maintain duplicate accounts, or create an account if
                            you're under 18.<br />&ZeroWidthSpace;<br />You
                            should not provide inaccurate location information,
                            have incorrect availability, mislead people about
                            the type, nature, or details of your listing,
                            substitute one listing for another, set up fake or
                            fraudulent listings, engage in deceptive pricing, or
                            fail to disclose hazards or general filming issues
                            (e.g. sound curfew).
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="5-keep-your-word">5. Keep Your Word</h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            Unless you encounter an emergency, you should not
                            <a
                              target="_blank"
                              rel="nofollow noopener noreferrer"
                              >cancel a booking</a
                            >. You should not fail to pay, or break the host's
                            location rules. Furthermore, you should not surprise
                            your host or renter with complicated requests or
                            undisclosed needs or requirements.
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="6-respect-privacy-and-intellectual-property">
                            6. Respect Privacy and Intellectual Property
                          </h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            You should not access others' accounts without
                            authorization, have undisclosed or ill-sited cameras
                            in your listing, spy on other people, or otherwise
                            violate others' privacy, copyrights or trademarks.
                          </p>
                        </div>
                        <div
                          class="intercom-interblocks-subheading intercom-interblocks-align-left"
                        >
                          <h2 id="7-remain-responsive">7. Remain Responsive</h2>
                        </div>
                        <div
                          class="intercom-interblocks-paragraph intercom-interblocks-align-left"
                        >
                          <p>
                            You should not be unresponsive during a booking or
                            during a shoot, fail to provide an adequate point of
                            contact, or refuse to participate in our
                            <a
                              target="_blank"
                              rel="nofollow noopener noreferrer"
                              >resolution process</a
                            >.
                          </p>
                        </div>
                      </article>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <div></div>
            </section>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>
