<section class="host">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading text-center">
          <div class="stepCount">Tutorial {{ step }}/7</div>
          <h1>Review your listings</h1>
          <p class="m-0">
            Your listing will be located here. Direct access from this page is
            provided for common adjustments like availability, pricing, and
            images. Click the "Edit listing" button to make changes to other
            items, such as your description or features.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-md-12">
  <div class="top d-flex flex-column align-items-center">
    <img
      src="assets/images/dummy/slides-5.png"
      width="800"
      height="400"
      class="img-fluid"
    />
  </div>
  <div class="button">
    <a routerLink="/tutorial/slides/slide-6">Continue</a>
  </div>
</div>
