.margin-top {
  margin-top: 100px;
}
.terms_conditions {
  .container-html p{
    color: #606060;
  }
}
@media screen and (max-width: 767px) {
  .margin-top {
    margin-top: 80px;
  }
  .terms_conditions {
    .container-html p{
      font-size: 13px !important;
      color: #606060;
    }
  }
  
}
@media screen and (max-width: 575px) {
  .terms_conditions {
    .container-html h2{
      font-size: 18px !important;
      font-weight: 600;
    }
    .text-page {
      h1{
        font-size: 22px !important;
      }
    }
  .container-html p {
      font-size: 12px !important;
    }
  }
  
}
