<section
  class="hp-content-section hp-content-section hp-container"
  aria-labelledby="section--local-hosts"
>
  <div class="hp-content-section--info">
    <h2 class="hp-content-section--title" id="section--local-hosts">DUBAI</h2>
  </div>
  <ul class="hp-content-section--content-list">
    <li
      class="hp-content-section--content-item hp-content-section--content-item__local_hosts"
    >
      <app-listing></app-listing>
    </li>
    <li
      class="hp-content-section--content-item hp-content-section--content-item__local_hosts"
    >
      <app-listing></app-listing>
    </li>
    <li
      class="hp-content-section--content-item hp-content-section--content-item__local_hosts"
    >
      <app-listing></app-listing>
    </li>
    <li
      class="hp-content-section--content-item hp-content-section--content-item__local_hosts"
    >
      <app-listing></app-listing>
    </li>
    <li
      class="hp-content-section--content-item hp-content-section--content-item__local_hosts"
    >
      <app-listing></app-listing>
    </li>
  </ul>
</section>
