<div class="all-collection">
  <div class="banner">
    <div class="container search-position">
      <p>Advice and answers from the Location Genie Team</p>
      <div class="position-relative">
        <img src="assets/images/search.png" />
        <input
          type="search"
          class="form-control"
          placeholder="Search for articles..."
        />
      </div>
    </div>
  </div>
  <div class="list-data">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-list-data">
            <div class="icon">
              <img src="assets/images/icon-location-1.png" />
            </div>
            <div class="data">
              <h3>Most Frequently Asked</h3>
              <div class="profile">
                <div class="images">
                  <img src="assets/images/profiles.png" />
                </div>
                <p>
                  By Adil and 2 others
                  <span class="text"><span class="dot"></span>16 articles</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-list-data">
            <div class="icon">
              <img src="assets/images/icon-location-2.png" />
            </div>
            <div class="data">
              <h3>General</h3>
              <div class="profile">
                <div class="images">
                  <img src="assets/images/profiles.png" />
                </div>
                <p>
                  By Adil and 2 others
                  <span class="text"><span class="dot"></span>16 articles</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-list-data">
            <div class="icon">
              <img src="assets/images/icon-location-3.png" />
            </div>
            <div class="data">
              <h3>For Renters</h3>
              <div class="profile">
                <div class="images">
                  <img src="assets/images/profiles.png" />
                </div>
                <p>
                  By Adil and 2 others
                  <span class="text"><span class="dot"></span>16 articles</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="single-list-data">
            <div class="icon">
              <img src="assets/images/icon-location-4.png" />
            </div>
            <div class="data">
              <h3>Help with Hosting</h3>
              <div class="profile">
                <div class="images">
                  <img src="assets/images/profiles.png" />
                </div>
                <p>
                  By Adil and 2 others
                  <span class="text"><span class="dot"></span>16 articles</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
