<div class="step-one-wrapper">
  <app-list-space-header
    [stepNumber]="2"
    [stepName]="'Set the scene'"
    (onSaveAndExit)="updateTitleAndDescription('save')"
  ></app-list-space-header>

  <div class="step-one">
    <div class="container stepper">
      <div class="row" style="gap: 14px">
        <div
          class="single-step"
          [ngClass]="i === 3 ? 'active' : ''"
          *ngFor="let stepper of stepperData; let i = index"
        >
          <app-listing-stepper
            [stepperData]="stepper"
            [activeIdx]="4"
            [idx]="i"
            [totalSteppers]="stepperData.length"
          ></app-listing-stepper>
        </div>
      </div>
    </div>
  </div>
  <form
    *ngIf="titleForm"
    [formGroup]="titleForm"
    (ngSubmit)="updateTitleAndDescription()"
  >
    <div class="type">
      <div class="container">
        <div class="text-center">
          <h2 class="heading">Describe your location</h2>
        </div>
        <label>Location description</label>
        <textarea
          class="form-control"
          [ngClass]="{
            'has-error':
              (c['description'].hasError('required') &&
                c['description'].touched) ||
              (c['description'].hasError('required') && isSubmitted) ||
              (c['description'].hasError('minlength') && isSubmitted) ||
              (c['description'].hasError('minlength') &&
                c['description'].touched)
          }"
          formControlName="description"
          placeholder="Type a message"
        ></textarea>
        <p
          class="has-error--text"
          *ngIf="
            (c['description'].hasError('required') &&
              c['description'].touched) ||
            (c['description'].hasError('required') && isSubmitted)
          "
        >
          Description is required
        </p>
        <p
          class="has-error--text"
          *ngIf="
            (c['description'].hasError('minlength') &&
              c['description'].touched) ||
            (c['description'].hasError('minlength') && isSubmitted)
          "
        >
          Minimum 100 characters are required for description
        </p>
      </div>
    </div>

    <div class="type type-input">
      <div class="container">
        <div class="text-center">
          <h2 class="heading">Set a title for your listing</h2>
        </div>
        <label>Location title</label>
        <input
          [ngClass]="{
            'has-error':
              (c['title'].hasError('required') && c['title'].touched) ||
              (c['title'].hasError('required') && isSubmitted)
          }"
          class="form-control"
          formControlName="title"
          placeholder="Type here"
        />
        <p
          class="has-error--text"
          *ngIf="
            (c['title'].hasError('required') && c['title'].touched) ||
            (c['title'].hasError('required') && isSubmitted)
          "
        >
          Title is required
        </p>
      </div>
    </div>

    <!-- <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="assets/images/Group%20622.png" style="width: 240px" />

        <h2 class="title" style="font-size: 13px; margin: 30px 0 50px">
          If your location is associated with more than one category, please
          select the one that fits best. When choosing a type, please select up
          to two types only.
        </h2>
      </div>
    </div>
  </div> -->

    <app-list-space-buttons
      [backBtnRoute]="backBtnRoute"
      [progressValue]="75"
    ></app-list-space-buttons>
  </form>
</div>
