<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <img src="assets/images/dummy/not-found.png" />
        <h2>Page not found</h2>
        <h6>Error code: 404</h6>
        <p>
          The page you are looking for is not available. If you have any
          questions, please contact our support team via Help chat or email at
          contact@locationgenie.com
        </p>
        <button
          mat-raised-button
          color="primary"
          class="text-white"
          routerLink="/"
        >
          Back to home page
        </button>
      </div>
    </div>
  </div>
</div>
