.booking-table {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    white-space: nowrap;
    overflow: auto;
    align-items: normal !important;
  .booking_heegt {
    display: -webkit-box;
    width: 200px !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-line;
  }
  th {
    text-align: center;
    font-weight: 500;
    color: #a3a3a3;
    font-size: 14px;
    text-align: left;
    padding: 00px 10px;
  }
  tbody tr {
    border: 1px solid #e2e1e2;
  }
  td {
    text-align: center;
    font-weight: 500;
    color: #000;
    font-size: 14px;
    text-align: left;
    padding: 10px 10px;
  }
  th:first-child,
  td:first-child {
    width: 200px;
    max-width: 200px;
    img {
      width: 110px;
    }
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 200px;
    max-width: 200px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
    max-width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 250px;
    max-width: 250px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 200px;
    max-width: 200px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 200px;
    max-width: 200px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 200px;
    max-width: 200px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    width: 200px;
    max-width: 200px;
  }
  th:nth-child(9),
  td:nth-child(9) {
    width: 200px;
    max-width: 200px;
  }

  .view-details {
    background: #007bff57;
    color: #007bff;
    padding: 5px 7px 0 7px;
    border-radius: 4px;
    &:hover {
      background: #0a6ed8a2;
      color: #1159a7;
    }
  }

  .add-review {
    background: #007bff57;
    color: #007bff;
    padding: 5px 7px 0 7px;
    border-radius: 4px;
    margin-left: 4px;
    &:hover {
      background: #0a6ed8a2;
      color: #1159a7;
    }
  }
  .height_set {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .height_set .mat-icon {
    height: 20px;
    width: 25px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
  }
  .accept {
    background: #01667047;
    color: #016670;
    padding: 5px 7px 0 7px;
    text-decoration: none;
    border-radius: 4px;
    &:hover {
      background: #0167708e;
      color: #033f44;
    }
  }

  .accepted {
    background: #01667047;
    color: #016670;
    padding: 6.3px 7px;
    text-decoration: none;
    border-radius: 4px;
  }

  .reject,
  .cancel {
    background: #70010147;
    color: #700101;
    padding: 5px 7px 0 7px;
    text-decoration: none;
    border-radius: 4px;
    &:hover {
      background: #7001018f;
      color: #530404;
    }
  }

  .review {
    background: #0167705b;
    color: #016670;
    padding: 5px 7px 0 7px;
    text-decoration: none;
    border-radius: 4px;
    &:hover {
      background: #01677070;
      color: #086972;
    }
  }

  .rejected,
  .canceled {
    background: #70010147;
    color: #700101;
    padding: 6.3px 7px;
    text-decoration: none;
    border-radius: 4px;
  }

  .pending {
    background: #007bff57;
    color: #007bff;
    padding: 6.3px 7px;
    text-decoration: none;
    border-radius: 4px;
  }

  .disabled-action {
    pointer-events: none;
    opacity: 0.6;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  // background-color: #ffffff9e;
  z-index: 10000;
  padding: 200%;
  border-radius: 38%;
  backdrop-filter: blur(3px);
}

.disbled-action {
  pointer-events: none;
  opacity: 0.3;
}

.renter-host-details {
  -webkit-line-clamp: 5;
  /* white-space: pre-wrap; */
  -webkit-box-orient: vertical;
  /* display: -webkit-box; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5px;
}

// @media screen and (max-width: 626px) {
//   .booking-table {
//     white-space: nowrap;
//     overflow: auto;
//   }
// }

@media only screen and (min-width: 1367px) {
  ::ng-deep {
    .container {
      max-width: 90%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .booking-table {
    white-space: nowrap;
    overflow: auto;
    align-items: normal !important;
  }
}
@media screen and (max-width: 767px) {
  .booking-table td,
  .booking-table th {
    font-size: 12px;
  }
  .booking-table {
    margin: 20px 0 50px 0;
  }
  .booking-table {
    white-space: nowrap;
    overflow: auto;
    align-items: normal !important;
  }
}
