<section class="gallery">
  <div
    class="container-fluid animate__animated animate__slideInUp animate__faster"
  >
    <div class="header">
      <div class="icon" (click)="onCloseGallery()">
        <i class="fas fa-chevron-left fa-lg"></i>
      </div>
    </div>

    <div class="images row" gallerize>
      <div
        class="col-lg-3 col-md-4 col-sm-12 image-wrapper"
        *ngFor="let imageSrc of images"
      >
        <img
          loading="lazy"
          class="image"
          width="100%"
          [src]="imageSrc"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
