<div class="all-collection">
  <div class="banner">
    <div class="container search-position">
      <p>Advice and answers from the Location Genie Team</p>
      <div class="position-relative">
        <img src="../../../assets/images/search.png" />
        <input
          type="search"
          class="form-control"
          placeholder="Search for articles..."
        />
      </div>
    </div>
  </div>
  ADD breadcrumb USING MAT COMPONENT
  <div class="list-data">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-list-data">
            <div class="icon">
              <img src="../../../assets/images/icon-location-2.png" />
            </div>
            <div class="data">
              <h3>General</h3>
              <p>By Adil and 2 others 16 articles</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Location Contract
        </mat-expansion-panel-header>
        This is location contract
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Can a place have surveillance cameras?
        </mat-expansion-panel-header>
        Can a place have surveillance cameras?
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Why you should keep all bookings on the Location Genie
        </mat-expansion-panel-header>
        platform
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
