<section class="host">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading text-center">
          <div class="stepCount">Tutorial {{ step }}/7</div>
          <h1>Location Genie Inbox</h1>
          <p class="m-0">
            Renters interested in your property will chat with you or contact
            you through your inbox. Never forget to reply to our emails, texts,
            or Location Genie messages. Your reaction time and response rating
            will improve if you respond fast to every chat, which will help you
            rank better in search. We take your lack of response seriously and
            may suspend your account.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-md-12">
  <div class="top d-flex flex-column align-items-center">
    <img
      src="assets/images/dummy/slides-5.png"
      width="800"
      height="400"
      class="img-fluid"
    />
  </div>

  <div class="col-md-12">
    <div class="m-4">
      <div class="text-center">
        <p class="text-bold">
          If everything appears to be in order, all you need to do is click
          "approve." You can use the "custom rate" button to alter their request
          and send it back to them if you wish to make changes or send them a
          counter-offer. Your special rate will be notified to the renter, who
          will then be asked to confirm the reservation.
        </p>
      </div>
      <div class="button top d-flex flex-column align-items-center">
        <a (click)="onCompleteHosting()">Continue</a>
      </div>
    </div>
  </div>
</div>
