<div class="container main">
  <div class="row">
    <div class="col-lg-8 col-sm-12 m-auto">
      <div class="justify-center flex">
        <div class="relative z-3 w-full lg:max-w-160">
          <div class="flex pb-6 max-md:pb-2 lg:max-w-160"></div>
          <div class="">
            <div class="article intercom-force-break">
              <div class="mb-10 max-lg:mb-6">
                <div class="flex flex-col gap-4">
                  <div class="flex flex-col">
                    <header
                      class="title mb-1 font-primary text-2xl font-bold leading-10 text-body-primary-color"
                    >
                      What is the cancellation and refund policy for renters and
                      hosts?
                    </header>
                  </div>
                </div>
              </div>
              <div class="jsx-adf13c9b2a104cce">
                <div class="jsx-adf13c9b2a104cce article_body">
                  <article class="jsx-adf13c9b2a104cce">
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        We developed the Location Genie cancellation policy to
                        provide flexibility for renters while also providing
                        security for our hosts.<br />&ZeroWidthSpace;
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Once a property booking is confirmed by the host, the
                        following cancellation and refund rules apply to
                        renters:<br />&ZeroWidthSpace;<br />&ZeroWidthSpace;<br />1.
                        All confirmed bookings adhere to
                        <b>Location Genie's Grace Period </b>policy, which
                        allows a <b>full refund</b> for bookings cancelled
                        within <b>24 hours</b> of confirmation with the
                        <b>exception</b> of bookings that were confirmed within
                        <b>48 hours</b> of the
                        <b>start time</b
                        >.<br />&ZeroWidthSpace;<br />&ZeroWidthSpace;<br />2.
                        If you cancel <b>outside of 48 hours</b> from the start
                        of the booking, you will receive a <b>50% refund</b>.
                        <br />&ZeroWidthSpace;<br />&ZeroWidthSpace;<br />3.
                        Cancellations <b>within 48 hours</b> of the start time
                        are
                        <b>non-refundable</b
                        >.<br />&ZeroWidthSpace;<br />&ZeroWidthSpace;<br />The
                        host is entitled to a portion of their payout depending
                        on when the renter cancels the booking.
                        <br />&ZeroWidthSpace;<br />&ZeroWidthSpace;<br />In all
                        cancellations, Location Genie retains its standard fees.
                        <br />&ZeroWidthSpace;<br />&ZeroWidthSpace;<br />All of
                        this is outlined in the table as follows:<br />&ZeroWidthSpace;<br />&ZeroWidthSpace;
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-image intercom-interblocks-align-left"
                    >
                      <img
                        class="image"
                        src="assets/images/refund-policy.png"
                        width="1288"
                        height="762"
                      />
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        Please pay attention: add-ons are not equal to the
                        additional fees. Add-ons abide by the same cancellation
                        terms as the location fee. If a booking is cancelled
                        outside of the 24-hour grace period, but more than 48
                        hours before the start of the booking, 50% of the
                        add-ons fee is refunded. If a booking is cancelled less
                        than 48 hours before the start of the booking, the
                        add-ons fee is non refundable.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        If you wish to cancel, reach out to us at
                        <a
                          href="mailto:contact@locationenie.com"
                          rel="nofollow noopener noreferrer"
                          target="_blank"
                          >contact@locationenie.com</a
                        >
                        with your name and the date of your booking and we will
                        effectuate the cancellation per our cancellation
                        guidelines.<br />&ZeroWidthSpace;<br />Refunds to
                        renters will only apply when a cancellation has been
                        made. Please pay careful attention to the cancellation
                        policy before completing a booking request so you are
                        aware of the refunds eligible in the event of a
                        cancellation.<br />&ZeroWidthSpace;<br />It can take up
                        to 6-10 business days for a refund to reach the renter's
                        bank account.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p>
                        For full details on our cancellation policy, including
                        details related to host-initiated cancellations, please
                        familiarize yourself with our latest
                        <a
                          routerLink="/terms"
                          rel="nofollow noopener noreferrer"
                          target="_blank"
                          >Terms of Service</a
                        >.
                      </p>
                    </div>
                    <div
                      class="intercom-interblocks-paragraph no-margin intercom-interblocks-align-left"
                    >
                      <p></p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
