<div class="container">
  <div class="row">
    <div class="col-3 text-center">
      <img src="assets/images/profile-pic.png" width="100" />
    </div>
    <div class="col-3 text-center">
      <div>Aabidah K.</div>
      <div>Member since: Jun 8, 2023</div>
    </div>
    <div class="col-3 text-center">
      <div>Response rating: Excellent</div>
      <div>Response speed: Within an hour</div>
    </div>
    <div class="col-3 text-center">
      <div>Email not confirmed</div>
      <div>Phone not confirmed</div>
    </div>
  </div>
</div>
