<section class="host">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading text-center">
          <div class="stepCount">Tutorial {{ step }}/7</div>
          <h1>How does search rating work?</h1>
          <p class="m-0">
            Your listing will display higher in search results the higher your
            rating is. In turn, this raises the visibility of your listing and
            your chances of obtaining a steady stream of reservations. Your
            search rating is influenced by a variety of factors, and there are
            many things you can do to raise it.
          </p>
        </div>
      </div>
    </div>

    <div class="row score">
      <div class="col-md-6">
        <div class="left">
          <div class="top d-flex align-items-center">
            <p class="m-0">1. Land bookings!</p>
          </div>
          <div>
            <p>
              Your first booking — and overall number of bookings — are the
              basis of your rating.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right">
          <div class="top d-flex align-items-center">
            <p class="m-0">2. Keep ‘em coming</p>
          </div>
          <div>
            <p>
              A consistent, recent booking pattern shows you’re active and
              engaged.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row score">
      <div class="col-md-6">
        <div class="left">
          <div class="top d-flex align-items-center">
            <p class="m-0">3. Make it simple</p>
          </div>
          <div>
            <p>
              Enabling Instant Book makes it easy for guests to book your
              location.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right">
          <div class="top d-flex align-items-center">
            <p class="m-0">4. Stay in touch</p>
          </div>
          <div>
            <p>
              Responding to every single inquiry helps build guests’ confidence.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row score">
      <div class="col-md-6">
        <div class="left">
          <div class="top d-flex align-items-center">
            <p class="m-0">5. Be a great host</p>
          </div>
          <div>
            <p>Positive reviews are a key part of building your reputation.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right">
          <div class="top d-flex align-items-center">
            <p class="m-0">6. Be a Superhost</p>
          </div>
          <div>
            <p>
              Maintain an excellent response rate and hit 10 bookings to get a
              bump in status!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="button">
      <a routerLink="/tutorial/slides/slide-5">Continue</a>
    </div>
  </div>
</section>
