<a
  class="hp-img-content hp-img-content__local_hosts hp-img-content__hovered"
  rel="nofollow"
>
  <figure
    class="hp-img-content--figure hp-img-content--figure__local_hosts aspect-ratio-content"
  >
    <img
      src="https://static.giggster.com/images/location/72fc3490-49d5-42f2-a2c5-d589cbbdc6ed/46ec112a-5899-4a4e-ab30-cdab378f4c4a/small_x2.jpeg"
      alt="listing"
      width="100"
    />
    <figcaption
      class="hp-img-content--caption hp-img-content--caption__local_hosts"
    >
      <p class="hp-img-content--title hp-img-content--title__local_hosts">
        ABU AL ABYAD
      </p>
      <p
        class="hp-img-content--more hp-img-content--more__local_hosts"
        aria-hidden="true"
      >
        66 listings
      </p>
    </figcaption>
  </figure>
</a>
