<div class="container project mb-4 Request-Booking">
  <div class="d-lg-flex">
    <div class="col-lg-8 project-details">
      <div class="project-details_parent">
        <div class="d-flex justify-content-between">
          <h6
            (click)="onToggleProjectDetails('show')"
            class="project-details_heading animate__animated animate__fadeIn animate_faster"
            role="button"
          >
            <span
              class="project-details_heading--title-one"
              [ngClass]="showProjectDetails ? 'active' : ''"
              >1</span
            >Your Project Details
          </h6>
          <h6
            (click)="onToggleProjectDetails('hide')"
            class="project-details_heading desktop-only"
            role="button"
            [ngClass]="!isProjectDetailsCompleted ? 'disabledcheckbox' : ''"
          >
            <span
              class="project-details_heading--title-two"
              [ngClass]="
                isProjectDetailsCompleted && !showProjectDetails ? 'active' : ''
              "
              >2</span
            >Pay For Location
          </h6>
        </div>
        <hr />
        <form
          *ngIf="showProjectDetails && projectForm"
          [formGroup]="projectForm"
          (ngSubmit)="onSubmitForm()"
        >
          <div class="row animate__animated animate__fadeIn animate_faster">
            <div class="col-lg-6 col-md-12 mb-2">
              <label for="projectName">Project name</label>
              <input
                id="projectName"
                formControlName="projectName"
                type="text"
                class="form-control"
                [ngClass]="
                  (projectCtl['projectName'].hasError('required') &&
                    projectCtl['projectName'].touched) ||
                  (projectCtl['projectName'].hasError('required') &&
                    isSubmittedProjectForm)
                    ? 'invalid is-invalid'
                    : ''
                "
              />
              <small
                *ngIf="
                  (projectCtl['projectName'].hasError('required') &&
                    projectCtl['projectName'].touched) ||
                  (projectCtl['projectName'].hasError('required') &&
                    isSubmittedProjectForm)
                "
                class="has-error--text"
                >This field is required</small
              >
            </div>
            <div class="col-lg-6 col-md-12">
              <label for="Company">Renter/Company</label>
              <input
                id="Company"
                formControlName="renterCompany"
                type="text"
                class="form-control"
                [ngClass]="
                  (projectCtl['renterCompany'].hasError('required') &&
                    projectCtl['renterCompany'].touched) ||
                  (projectCtl['renterCompany'].hasError('required') &&
                    isSubmittedProjectForm)
                    ? 'invalid is-invalid'
                    : ''
                "
              />
              <small
                *ngIf="
                  (projectCtl['renterCompany'].hasError('required') &&
                    projectCtl['renterCompany'].touched) ||
                  (projectCtl['renterCompany'].hasError('required') &&
                    isSubmittedProjectForm)
                "
                class="has-error--text"
                >This field is required</small
              >
            </div>
            <div class="col-lg-6 col-md-12 mt-2" *ngIf="!isLoading">
              <label for="Company">Activity</label>
              <app-input-select
                [eventsList]="eventsList"
                (dataEmitter)="onChangeActivity($event)"
              ></app-input-select>
            </div>
            <div class="col-lg-6 col-md-12 mt-2">
              <label for="">Cast & Crew</label>
              <app-attendies-dropdown
                [attendiesDropdown]="attendiesDropdown"
                [currency]="currency"
                [selectedAttendies]="selectedAttendies"
                (selectedAttendiesEmitter)="onChangeAttendies($event)"
              ></app-attendies-dropdown>
            </div>
            <div class="col-12 mt-2">
              <label for="">About your project</label>
              <textarea
                formControlName="aboutProject"
                class="form-control"
                cols="30"
                rows="5"
                [ngClass]="
                  (projectCtl['aboutProject'].hasError('required') &&
                    projectCtl['aboutProject'].touched) ||
                  (projectCtl['aboutProject'].hasError('required') &&
                    isSubmittedProjectForm)
                    ? 'invalid is-invalid'
                    : ''
                "
              ></textarea>
              <small
                *ngIf="
                  (projectCtl['aboutProject'].hasError('required') &&
                    projectCtl['aboutProject'].touched) ||
                  (projectCtl['aboutProject'].hasError('required') &&
                    isSubmittedProjectForm)
                "
                class="has-error--text"
                >This field is required</small
              >
            </div>
            <div class="col-lg-3 col-sm-12 mt-4 mb-4">
              <button type="submit" class="btn btn-success total-width">
                Next
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="">
        <h6
          (click)="onToggleProjectDetails('hide')"
          class="project-details_heading mobile-only"
          role="button"
          [ngClass]="!isProjectDetailsCompleted ? 'disabledcheckbox' : ''"
        >
          <span
            class="project-details_heading--title-two"
            [ngClass]="
              isProjectDetailsCompleted && !showProjectDetails ? 'active' : ''
            "
            >2</span
          >Pay For Location
        </h6>

        <div
          class="row animate__animated animate__fadeIn animate_faster mng_top"
          *ngIf="!showProjectDetails && isProjectDetailsCompleted"
        >
          <div class="col-12">
            <small *ngIf="cards && cards.length > 0"
              ><a class="text-bold show-hide-card" (click)="onToggleCards(true)"
                >Select your card</a
              >
              for payment</small
            >
            <div class="row">
              <ng-container *ngIf="showCards && cards && cards.length > 0">
                <div
                  class="col-lg-6 col-md-12 mb-3 mt-3"
                  *ngFor="let card of cards; let i = index"
                >
                  <input
                    name="card"
                    (click)="checkedCardId = card.id"
                    type="radio"
                    hidden
                    [checked]="card.id === checkedCardId"
                    [id]="i"
                  />
                  <label
                    class="card-label"
                    [ngClass]="card.id === checkedCardId ? 'card-border' : ''"
                    [for]="i"
                    role="button"
                  >
                    <app-card-detail
                      [brand]="card.card.brand"
                      [expMonth]="card.card.expMonth"
                      [expYear]="card.card.expYear"
                      [cardHolderName]="card.card.brand"
                      [cardNum]="card.card.last4"
                      [id]="card.id"
                    ></app-card-detail>
                  </label>
                </div>
              </ng-container>
            </div>
            <div *ngIf="cards && cards.length > 0">
              <hr />
              <small
                >or
                <a
                  class="text-bold show-hide-card"
                  (click)="onToggleCards(false)"
                  >Add new</a
                >
                card for payment</small
              >
            </div>
            <div
              ngxStripeCardGroup
              *ngIf="(!showCards || !cards || cards.length <= 0) && stripeForm"
            >
              <label for="exampleInput3" class="mt-2">Card number</label>
              <div
                class="stripe-card-control"
                [ngClass]="
                  (!cardNumberValidations.isCardNumberComplete &&
                    isSubmittedStripeForm) ||
                  (!cardNumberValidations.isCardNumberEmpty &&
                    !cardNumberValidations.isCardNumberComplete &&
                    isSubmittedStripeForm)
                    ? 'invalid is-invalid'
                    : ''
                "
              >
                <ngx-stripe-card-number
                  [options]="cardOptions"
                ></ngx-stripe-card-number>
              </div>
              <small
                class="d-block has-error--text"
                *ngIf="
                  cardNumberValidations.isCardNumberEmpty &&
                  isSubmittedStripeForm
                "
                >Card number is required</small
              >
              <small
                class="d-block has-error--text"
                *ngIf="
                  !cardNumberValidations.isCardNumberComplete &&
                  !cardNumberValidations.isCardNumberEmpty &&
                  isSubmittedStripeForm
                "
                >Card number is not valid</small
              >
              <label for="exampleInput3" class="mt-2">CVC</label>
              <div
                class="stripe-card-control"
                [ngClass]="
                  (!cardCvcValidations.isCardCvcComplete &&
                    isSubmittedStripeForm) ||
                  (!cardCvcValidations.isCardCvcEmpty &&
                    !cardCvcValidations.isCardCvcComplete &&
                    isSubmittedStripeForm)
                    ? 'invalid is-invalid'
                    : ''
                "
              >
                <ngx-stripe-card-cvc
                  [options]="cardOptions"
                ></ngx-stripe-card-cvc>
              </div>
              <small
                class="d-block has-error--text"
                *ngIf="
                  cardCvcValidations.isCardCvcEmpty && isSubmittedStripeForm
                "
                >CVC is required</small
              >
              <small
                class="d-block has-error--text"
                *ngIf="
                  !cardCvcValidations.isCardCvcComplete &&
                  !cardCvcValidations.isCardCvcEmpty &&
                  isSubmittedStripeForm
                "
                >Enter a valid CVC</small
              >
              <label for="exampleInput3" class="mt-2">Expiry Month/Year</label>
              <div
                class="stripe-card-control"
                [ngClass]="
                  (!cardExpiryValidations.isCardExpiryComplete &&
                    isSubmittedStripeForm) ||
                  (!cardExpiryValidations.isCardExpiryEmpty &&
                    !cardExpiryValidations.isCardExpiryComplete &&
                    isSubmittedStripeForm)
                    ? 'invalid is-invalid'
                    : ''
                "
              >
                <ngx-stripe-card-expiry
                  [options]="cardOptions"
                ></ngx-stripe-card-expiry>
              </div>
              <small
                class="d-block has-error--text"
                *ngIf="
                  cardExpiryValidations.isCardExpiryEmpty &&
                  isSubmittedStripeForm
                "
                >Expiry date is required</small
              >
              <small
                class="d-block has-error--text"
                *ngIf="
                  !cardExpiryValidations.isCardExpiryComplete &&
                  !cardExpiryValidations.isCardExpiryEmpty &&
                  isSubmittedStripeForm
                "
                >Enter a future date</small
              >
            </div>
            <form
              *ngIf="(!showCards || !cards || cards.length <= 0) && stripeForm"
              [formGroup]="stripeForm"
            >
              <div class="form-row">
                <div class="form-group col-12 mb-2">
                  <label for="exampleCountry" class="">Country</label>
                  <input
                    type="text"
                    class="form-control-card"
                    placeholder="Select country"
                    id="exampleCountry"
                    formControlName="countryName"
                    (keypress)="
                      commonService.charOnly($event); onFilterCountry($event)
                    "
                    (keyup)="onFilterCountry($event)"
                    (focus)="onFocusCountry()"
                    (blur)="onBlurCountry()"
                    [ngClass]="
                      (c['countryName'].hasError('required') &&
                        c['countryName'].touched) ||
                      (c['countryName'].hasError('required') &&
                        isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                  />
                  <span
                    ><span class="autocomplete-arrow-js autocomplete-arrow"
                      ><i class="fas fa-angle-down"></i
                    ></span>
                    <div
                      [ngClass]="showCountryList ? 'show' : ''"
                      class="autocomplete-content autocomplete-content-js"
                    >
                      <ul class="autocomplete-content-default">
                        <li class="autocomplete-content-popular-wrapper-js">
                          <ul class="autocomplete-content-items">
                            <li
                              class="autocomplete-content-item autocomplete-content-item-id"
                              [ngClass]="
                                country.name === defaultCountry.name
                                  ? 'active-list'
                                  : ''
                              "
                              *ngFor="let country of countriesList"
                              data-index="25"
                              (mousedown)="
                                onSelectCountry(country.name, country.code)
                              "
                            >
                              {{ country.name }}
                              <i
                                class="fas fa-check"
                                *ngIf="country.name === defaultCountry.name"
                              ></i>
                            </li>
                            <li
                              class="autocomplete-content-item"
                              *ngIf="
                                (
                                  countriesList
                                  | filter
                                    : stripeForm.value?.countryName?.trim()
                                )?.length === 0
                              "
                            >
                              No results for
                              <span class="autocomplete-content-empty--query"
                                >“{{ stripeForm.value.countryName }}“</span
                              >
                            </li>
                          </ul>
                        </li>
                        <li
                          class="autocomplete-content-start-typing-wrapper-js hidden"
                        >
                          <ul class="autocomplete-content-items">
                            <li
                              class="autocomplete-content-item-search search-more-activities-js"
                            >
                              <div
                                class="autocomplete-content-item-search__back search-more-activities-back-js"
                              ></div>
                              <div
                                class="autocomplete-content-item-search__typing"
                              >
                                Start typing
                                <svg
                                  class="autocomplete-content-item-search__emoji"
                                  width="25"
                                  height="25"
                                  viewBox="0 0 25 25"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                  <path
                                    d="M0.5 24.68H24.5V0.68H0.5V24.68Z"
                                    fill="url(#pattern0)"
                                  ></path>
                                  <defs>
                                    <pattern
                                      id="pattern0"
                                      patternContentUnits="objectBoundingBox"
                                      width="1"
                                      height="1"
                                    >
                                      <use
                                        xlink:href="#image0_1261_33394"
                                        transform="scale(0.00625)"
                                      ></use>
                                    </pattern>
                                    <image
                                      id="image0_1261_33394"
                                      width="160"
                                      height="160"
                                      xlink:href="assets/images/download.png"
                                    ></image>
                                  </defs>
                                </svg>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </span>
                  <small
                    class="has-error--text"
                    *ngIf="
                      (c['countryName'].hasError('required') &&
                        c['countryName'].touched) ||
                      (c['countryName'].hasError('required') &&
                        isSubmittedStripeForm)
                    "
                    >Country is required</small
                  >
                </div>

                <!-- <div class="form-group col-lg-6 col-md-12 mb-2">
                  <label for="exampleInput3" class="">Card number</label>
                  <input
                    type="text"
                    class="form-control-card"
                    id="exampleInput3"
                    formControlName="card"
                    maxlength="19"
                    (focus)="isCardFocused = true"
                    (blur)="isCardFocused = false"
                    placeholder="1234 1234 1234 1234"
                    [mask]="
                      c['card'].value &&
                      c['card'].value.length === 15 &&
                      !isCardFocused
                        ? '0000 000000 00000'
                        : '0000 0000 0000 0000'
                    "
                    (keypress)="commonService.numberOnly($event)"
                    (blur)="
                      c['card'].value?.length === 15
                        ? (maxlengthCVC = 4)
                        : (maxlengthCVC = 3)
                    "
                    [ngClass]="
                      cardInvalid ||
                      (c['card'].hasError('required') && c['card'].touched) ||
                      (c['card'].hasError('required') && isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                  />
                  <small class="has-error--text" *ngIf="cardInvalid"
                    >Your card number is invalid.</small
                  >
                  <small
                    class="has-error--text"
                    *ngIf="
                      (c['card'].hasError('required') && c['card'].touched) ||
                      (c['card'].hasError('required') && isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                    >Card number is required</small
                  >
                </div> -->
                <!-- <div class="form-group col-lg-6 col-md-12 mb-2">
                  <label for="exampleInput3" class="">Expiry Month/Year</label>
                  <input
                    type="text"
                    class="form-control-card"
                    id="exampleInput3"
                    formControlName="monthYear"
                    maxlength="5"
                    minlength="3"
                    mask="00/00"
                    placeholder="MM / YY"
                    (keypress)="commonService.numberOnly($event)"
                    (keyup)="updateMonthValidation($event)"
                    [ngClass]="
                      (c['monthYear'].value && !isFutureDate) ||
                      (c['monthYear'].hasError('required') &&
                        c['monthYear'].touched) ||
                      (c['monthYear'].hasError('required') &&
                        isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                  />
                  <small
                    class="has-error--text"
                    *ngIf="c['monthYear'].value && !isFutureDate"
                    >Enter a future value.</small
                  >
                  <small
                    class="has-error--text"
                    *ngIf="
                      (c['monthYear'].hasError('required') &&
                        c['monthYear'].touched) ||
                      (c['monthYear'].hasError('required') &&
                        isSubmittedStripeForm)
                    "
                    >Expiry is required</small
                  >
                </div>
                <div class="form-group col-lg-6 col-md-12 mb-2">
                  <label for="exampleInput3" class="">CVC</label>
                  <input
                    type="text"
                    class="form-control-card"
                    id="exampleInput3"
                    formControlName="cvc"
                    [maxlength]="maxlengthCVC"
                    placeholder="CVC"
                    (keypress)="commonService.numberOnly($event)"
                    [ngClass]="
                      (c['cvc'].hasError('required') && c['cvc'].touched) ||
                      (c['cvc'].hasError('required') && isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                  />
                  <small
                    class="has-error--text"
                    *ngIf="
                      (c['cvc'].hasError('required') && c['cvc'].touched) ||
                      (c['cvc'].hasError('required') && isSubmittedStripeForm)
                    "
                    >CVC is required</small
                  >
                </div> -->

                <div class="form-group col-12">
                  <label for="exampleInput1" class="">Zip code</label>
                  <input
                    type="text"
                    class="form-control-card"
                    id="exampleInput1"
                    formControlName="zip"
                    maxlength="6"
                    placeholder="147102"
                    (keypress)="commonService.numberOnly($event)"
                    [ngClass]="
                      (c['zip'].hasError('required') && c['zip'].touched) ||
                      (c['zip'].hasError('required') && isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                  />
                  <small
                    class="has-error--text"
                    *ngIf="
                      (c['zip'].hasError('required') && c['zip'].touched) ||
                      (c['zip'].hasError('required') && isSubmittedStripeForm)
                    "
                    >Zip is required</small
                  >
                </div>
                <div class="form-group col-12 mb-2">
                  <label for="exampleInput" class="">Name on card</label>
                  <input
                    type="text"
                    class="form-control-card"
                    id="exampleInput"
                    formControlName="name"
                    placeholder="John Doe"
                    (keypress)="commonService.charOnlyWithSpace($event)"
                    [ngClass]="
                      (c['name'].hasError('required') && c['name'].touched) ||
                      (c['name'].hasError('required') && isSubmittedStripeForm)
                        ? 'invalid is-invalid'
                        : ''
                    "
                  />
                  <small
                    class="has-error--text"
                    *ngIf="
                      (c['name'].hasError('required') && c['name'].touched) ||
                      (c['name'].hasError('required') && isSubmittedStripeForm)
                    "
                    >Name is required</small
                  >
                </div>
              </div>
            </form>
            <div class="col-12">
              <small
                class="has-error--text"
                *ngIf="
                  isSubmittedStripeForm &&
                  cards &&
                  cards.length > 0 &&
                  showCards &&
                  !checkedCardId
                "
              >
                Please select a card
              </small>
            </div>
            <div class="mt-4">
              <h6>Cancellation policy and Grace Period</h6>
              <p class="refund-text mb-4">
                All bookings adhere to Location Genie's Grace Period policy
                which allows a full refund for bookings cancelled within 24
                hours of confirmation with the exception of bookings that are
                confirmed within 48 hours of the start time.
              </p>
              <p class="refund-text mt-2">
                If you cancel outside of 48 hours from the start of the booking,
                you will receive a 50% refund. Cancellations within 48 hours are
                non-refundable. Please see our
                <a target="_blank" routerLink="/cancellation-and-refund-policy"
                  >cancellation policy</a
                >
                for more information.
              </p>
            </div>
            <div class="col-lg-4 col-sm-12 px-0">
              <button
                type="submit"
                (click)="onRequestBooking()"
                class="save-button text-light mt-3"
                mat-raised-button
                color="primary"
                style="margin-bottom: 100px !important"
              >
                {{ isInstantBooking ? "Instant Book" : "Request to book" }}
              </button>
            </div>
          </div>

          <app-square-spinner
            class="spinner animate__animated animate__fadeIn animate__faster"
            *ngIf="isLoading"
          ></app-square-spinner>
        </div>
      </div>
      <!-- if project detail is hidden and payment tab is shown -->
    </div>
    <div
      class="col-lg-4 col-md-12 booking-area animate__animated animate__fadeIn animate_faster"
    >
      <form *ngIf="bookingForm" [formGroup]="bookingForm">
        <div class="aed d-flex justify-content-between">
          <div class="aed-heading">
            <p>
              <b>
                {{
                  selectedAttendies.charges
                    | currency : currency + " " : "symbol-narrow" : "1.0-0"
                }}</b
              >
              <small>/hr</small>
            </p>
          </div>
          <div class="time">
            <p>
              <b>{{ listingDetails.listingPrice?.minimumHours }}</b> hr. minimum
            </p>
          </div>
        </div>
        <div formArrayName="bookings">
          <div
            class="time d-flex"
            *ngFor="let bookingCtrl of bookingControls; let i = index"
            [formGroupName]="i"
          >
            <div class="pick-date">
              <input
                [ngClass]="{
                  'is-invalid':
                    !bookingCtrl.value.date &&
                    (isSubmittedProjectForm || isAddingBooking)
                }"
                matInput
                [matDatepicker]="basicDatepicker"
                formControlName="date"
                placeholder="Pick a date"
                class="form-control date-control"
                (dateChange)="onDateChange($event, i)"
                [min]="today"
                (click)="basicDatepicker.open()"
                [matDatepickerFilter]="disableDates"
              />
              <mat-datepicker
                #basicDatepicker
                [dateClass]="dateClassCallback"
                (closed)="this.isTimeSlotsCreated = false"
              >
              </mat-datepicker>
            </div>
            <div class="start-time">
              <div class="select-native-parent">
                <select
                  [ngClass]="{
                    'is-invalid':
                      !bookingCtrl.value.startTime &&
                      (isSubmittedProjectForm || isAddingBooking)
                  }"
                  (change)="enableEndTime(i, $event)"
                  class="booking-dates-row--select select-time-js select-native start-time-js"
                  formControlName="startTime"
                >
                  <option [value]="null" hidden selected>Start time</option>
                  <option
                    *ngFor="let time of bookingCtrl.value.startTimeSlots"
                    [value]="time.value"
                    [disabled]="time.disabled"
                  >
                    {{ time.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="end-time">
              <div class="select-native-parent">
                <select
                  [ngClass]="{
                    'is-invalid':
                      !bookingCtrl.value.endTime &&
                      (isSubmittedProjectForm || isAddingBooking)
                  }"
                  (change)="onSetTotalHours(i)"
                  class="booking-dates-row--select select-time-js select-native finish-time-js"
                  formControlName="endTime"
                >
                  <option [value]="null" hidden selected>End time</option>
                  <option
                    *ngFor="let time of bookingCtrl.value.availableEndTimeSlots"
                    [value]="time.value"
                  >
                    {{ time.name }}
                  </option>
                  <option
                    value="separator"
                    *ngIf="showNextDayTimeSlots"
                    disabled
                  >
                    Next day
                  </option>
                  <ng-container *ngIf="showNextDayTimeSlots">
                    <option
                      *ngFor="let time of bookingCtrl.value.nextDayTimeSlots"
                      [value]="time.value"
                    >
                      {{ time.name }}
                    </option>
                  </ng-container>
                </select>
                <div class="booking-dates-row--select-overlay"></div>
              </div>
            </div>
            <a class="remove-js" (click)="onDeleteBooking(i)" *ngIf="i > 0"
              ><i class="fas fa-times"></i
            ></a>
            <a class="remove-js" *ngIf="i <= 0"><i class="fas fa-neos"></i></a>
          </div>
          <div
            class="booking-dates-row--info next-day-js"
            *ngIf="isBookedForNextDay"
          >
            <small>Booking ends the next day</small>
          </div>
        </div>

        <div class="action-details d-flex justify-content-between mt-2">
          <div class="add-day">
            <a class="add-day-button" (click)="onAddBooking()">Add a day</a>
          </div>
          <div class="hours">
            <p *ngIf="totalHours.toString() !== 'NaN'">
              Total hours: {{ totalHours }}
            </p>
          </div>
        </div>

        <app-validation-message
          *ngIf="totalHours < minimumHours"
          [message]="
            '<div class=minimum-validation>' +
            listingDetails.listingPrice?.minimumHours +
            ' hr. minimum </div> You can\'t submit a request that is less than the hourly minimum'
          "
        ></app-validation-message>
        <div *ngIf="totalHours">
          <div class="d-flex justify-content-between mb-2">
            <span
              >{{
                selectedAttendies.charges
                  | currency : currency + " " : "symbol-narrow" : "1.0-0"
              }}
              x {{ totalHours }} hours</span
            >
            <span>{{
              +selectedAttendies.charges * +totalHours
                | currency : currency + " " : "symbol-narrow" : "1.0-0"
            }}</span>
          </div>
          <!-- <div class="d-flex justify-content-between mb-2">
            <span>Site rep</span>
            <span>{{
              siteRep | currency : currency+ " " : "symbol-narrow" : "1.0-0"
            }}</span>
          </div> -->
          <div class="d-flex justify-content-between mb-2">
            <span>Processing fee</span>
            <span>{{
              processingFee
                | currency : currency + " " : "symbol-narrow" : "1.0-0"
            }}</span>
          </div>
          <hr class="hr" />
          <div class="d-flex justify-content-between mb-2">
            <span class="text-bold">Total {{ currency }}</span>
            <span class="text-bold">{{
              processingFee + selectedAttendies.charges * totalHours
                | currency : currency + " " : "symbol-narrow" : "1.0-0"
            }}</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-square-spinner
  class="spinner animate__animated animate__fadeIn animate__faster"
  *ngIf="isBooking"
></app-square-spinner>
