<div class="all-collection">
  <div class="hp-popular-activities--group">
    <div class="blog">
      <div class="blog-card">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <owl-carousel-o [options]="customOptions" class="blog-carousal">
                <ng-container
                  style="width: 179.6px; margin-right: 8px"
                  class="blog-carousal-item"
                >
                  <ng-template carouselSlide>
                    <div class="u-placeholder square">
                      <a class="post-image-link">
                        <span class="post-media-tag post-tag-los-angeles"
                          >Los Angeles</span
                        >
                        <img
                          class="post-image u-object-fit"
                          src="assets/images/blog/grab-pH0W0FjYt5k-unsplash.jpg"
                        />
                      </a>
                    </div>
                    <header class="post-header">
                      <h2 class="post-title">
                        <a class="post-title-link"
                          >How Much Does It Cost to Rent a Wedding Venue in Los
                          Angeles?</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-meta-item post-meta-date">
                          <time datetime="2020-11-13">Nov 13, 2020</time>
                        </span>
                      </div>
                    </header>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="u-placeholder square">
                      <a class="post-image-link">
                        <span class="post-media-tag post-tag-los-angeles"
                          >Los Angeles</span
                        >
                        <img
                          class="post-image u-object-fit"
                          src="assets/images/blog/grab-uIKlD9dc_Bc-unsplash.jpg"
                        />
                      </a>
                    </div>
                    <header class="post-header">
                      <h2 class="post-title">
                        <a class="post-title-link"
                          >How Much Does It Cost to Rent a Wedding Venue in Los
                          Angeles?</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-meta-item post-meta-date">
                          <time datetime="2020-11-13">Nov 13, 2020</time>
                        </span>
                      </div>
                    </header>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="u-placeholder square">
                      <a class="post-image-link">
                        <span class="post-media-tag post-tag-los-angeles"
                          >Los Angeles</span
                        >
                        <img
                          class="post-image u-object-fit"
                          src="assets/images/blog/grab-OxPv1C7sHHc-unsplash.jpg"
                        />
                      </a>
                    </div>
                    <header class="post-header">
                      <h2 class="post-title">
                        <a class="post-title-link"
                          >How Much Does It Cost to Rent a Wedding Venue in Los
                          Angeles?</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-meta-item post-meta-date">
                          <time datetime="2020-11-13">Nov 13, 2020</time>
                        </span>
                      </div>
                    </header>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="u-placeholder square">
                      <a class="post-image-link">
                        <span class="post-media-tag post-tag-los-angeles"
                          >Los Angeles</span
                        >
                        <img
                          class="post-image u-object-fit"
                          src="assets/images/blog/melody-zimmerman-baNjp1eJAyo-unsplash.jpg"
                        />
                      </a>
                    </div>
                    <header class="post-header">
                      <h2 class="post-title">
                        <a class="post-title-link"
                          >How Much Does It Cost to Rent a Wedding Venue in Los
                          Angeles?</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-meta-item post-meta-date">
                          <time datetime="2020-11-13">Nov 13, 2020</time>
                        </span>
                      </div>
                    </header>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="site-content">
                <div class="content-area">
                  <main class="site-main">
                    <div class="post-feed">
                      <article class="post no-image no-image">
                        <div class="gh-canvas">
                          <header class="post-header">
                            <h2 class="post-title">
                              <a class="post-title-link"
                                >Boudoir Photographers in Pasadena, CA</a
                              >
                            </h2>
                            <div class="post-meta">
                              <span class="post-meta-item post-meta-date">
                                <time datetime="2023-11-16">Nov 16, 2023</time>
                              </span>
                              <span class="post-meta-item post-meta-length">
                                4 min read
                              </span>
                            </div>
                          </header>

                          <div class="post-excerpt">
                            Pasadena, CA, boasts a thriving community of
                            talented boudoir photographers renowned for their
                            ability to capture their subjects' intimate,
                            empowering aspects tastefully. These photographers
                            have increased in popularity, mirroring a wider
                            trend that
                          </div>
                        </div>
                      </article>
                      <article class="post no-image no-image">
                        <div class="gh-canvas">
                          <header class="post-header">
                            <h2 class="post-title">
                              <a class="post-title-link"
                                >Top 10 Family Photographers in Beverly Hills,
                                CA</a
                              >
                            </h2>
                            <div class="post-meta">
                              <span class="post-meta-item post-meta-date">
                                <time datetime="2023-11-09">Nov 9, 2023</time>
                              </span>
                              <span class="post-meta-item post-meta-length">
                                4 min read
                              </span>
                            </div>
                          </header>

                          <div class="post-excerpt">
                            Nestled in the heart of Los Angeles County, Beverly
                            Hills is a city synonymous with luxury, glamour, and
                            natural beauty. Known worldwide for its
                            palm-tree-lined streets, opulent mansions, including
                            the iconic Beverly Hills
                          </div>
                        </div>
                      </article>
                      <article class="post no-image no-image">
                        <div class="gh-canvas">
                          <header class="post-header">
                            <h2 class="post-title">
                              <a class="post-title-link"
                                >Top 10 Family Photographers in Santa Monica,
                                CA</a
                              >
                            </h2>
                            <div class="post-meta">
                              <span class="post-meta-item post-meta-date">
                                <time datetime="2023-11-09">Nov 9, 2023</time>
                              </span>
                              <span class="post-meta-item post-meta-length">
                                4 min read
                              </span>
                            </div>
                          </header>

                          <div class="post-excerpt">
                            Santa Monica has emerged as a haven for family
                            photographers, who find endless inspiration in its
                            picturesque locales and golden light. Nestled in the
                            heart of Southern California, this vibrant city
                            effortlessly marries
                          </div>
                        </div>
                      </article>
                      <article class="post no-image no-image">
                        <div class="gh-canvas">
                          <header class="post-header">
                            <h2 class="post-title">
                              <a class="post-title-link"
                                >Top 10 Family Photographers in Pasadena, CA</a
                              >
                            </h2>
                            <div class="post-meta">
                              <span class="post-meta-item post-meta-date">
                                <time datetime="2023-11-09">Nov 9, 2023</time>
                              </span>
                              <span class="post-meta-item post-meta-length">
                                4 min read
                              </span>
                            </div>
                          </header>

                          <div class="post-excerpt">
                            Known for its annual Tournament of Roses Parade and
                            its historic architecture, influenced by Spanish
                            Colonial and Craftsman styles, Pasadena is a city
                            that effortlessly fuses tradition and innovation.
                            With its colorful street
                          </div>
                        </div>
                      </article>
                      <article class="post no-image no-image">
                        <div class="gh-canvas">
                          <header class="post-header">
                            <h2 class="post-title">
                              <a class="post-title-link"
                                >Top 10 Family Photographers in New York, NY</a
                              >
                            </h2>
                            <div class="post-meta">
                              <span class="post-meta-item post-meta-date">
                                <time datetime="2023-11-09">Nov 9, 2023</time>
                              </span>
                              <span class="post-meta-item post-meta-length">
                                4 min read
                              </span>
                            </div>
                          </header>

                          <div class="post-excerpt">
                            Known as the 'melting pot' of culture, New York City
                            is a vibrant tapestry of art and creativity. From
                            contemporary masterpieces gracing the walls of MoMA
                            to the avant-garde installations at the Guggenheim,
                          </div>
                        </div>
                      </article>
                    </div>
                  </main>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
