<div class="spinner">
  <div [style.backgroundColor]="spinnerColor" class="bar1"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar2"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar3"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar4"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar5"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar6"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar7"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar8"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar9"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar10"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar11"></div>
  <div [style.backgroundColor]="spinnerColor" class="bar12"></div>
</div>
